In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, confusion_matrix,accuracy_score,roc_auc_score,recall_score

In [55]:
df=pd.read_csv("train.csv",parse_dates=[12,15])

df["Delay"]=df["placement date"]-df["delivery date"]
df["Delay"]=df["Delay"]/ np.timedelta64(1,"D")

df["delivery type"]=df["delivery type"].fillna("Same Day")

# del df["RID"]

del df["delivery date"]
del df["placement date"]
del df["departure city"]
del df["departure state"]
# del df["address code"]

d={"Home Office":3,"Corporate":2,"Consumer":1}
df["segment"]=df["segment"].map(d)
d={"Central":1,"East":2,"West":3,"South":4}
df["location"]=df["location"].map(d)


d={"kariox":2,"qexty":1,"fynota":3}
df["class"]=df["class"].map(d)


h={}
n=1
for i in df.groupby("sub-class")["profit"].sum().sort_values().index:
    h[i]=n
    n+=1
df["sub-class"]=df["sub-class"].map(h)    


train_df=pd.get_dummies(df,columns=["delivery type"],drop_first=True)

y_train=df["profit"]
x_train=train_df.drop("profit",axis=1)

test=pd.read_csv("test.csv",parse_dates=[11,14])

del x_train["id"]

x_test=test.copy()

del x_test["id"]

x_test["Delay"]=x_test["placement date"]-x_test["delivery date"]
x_test["Delay"]=x_test["Delay"]/ np.timedelta64(1,"D")

del x_test["delivery date"]
del x_test["placement date"]
del x_test["departure city"]
del x_test["departure state"]

# del x_test["address code"]
d={"Home Office":3,"Corporate":2,"Consumer":1}
x_test["segment"]=x_test["segment"].map(d)
d={"Central":1,"East":2,"West":3,"South":4}
x_test["location"]=x_test["location"].map(d)


d={"kariox":2,"qexty":1,"fynota":3}
x_test["class"]=x_test["class"].map(d)



x_test["sub-class"]=x_test["sub-class"].map(h)    


x_test=pd.get_dummies(x_test,columns=["delivery type"],drop_first=True)

# del x_test["RID"]

import xgboost as xgb

xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.05,colsample_bytree=0.9)

xgb_clf.fit(x_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.9, gamma=0.2, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.2, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=1000, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0.05, reg_lambda=1, scale_pos_weight=1, subsample=0.8,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [56]:
from sklearn.metrics import r2_score, confusion_matrix,accuracy_score,roc_auc_score,recall_score
r2_score(y_train,xgb_clf.predict(x_train) )

0.9974339036841527

In [58]:
x_train.Delay.unique()

array([  0., -31., -28., -30., -29.])

In [11]:
x_test

,discount,price,no of items,location,class,segment,sub-class,RID,address code,Delay,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.0,24.200,5,3,2,1,6,2408,94122,0.0,0,0,1
1,0.2,359.976,3,3,3,1,16,2409,94122,0.0,0,0,1
2,0.0,3.520,2,2,2,1,6,5425,6708,0.0,0,0,1
3,0.2,11.520,5,1,2,1,5,7408,60653,0.0,0,0,0
4,0.0,242.940,3,3,2,3,11,733,98115,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3289,0.0,31.920,4,2,2,1,11,1171,10035,0.0,0,1,0
3290,0.0,19.440,3,2,2,1,13,1170,10035,0.0,0,1,0
3291,0.0,272.940,3,2,2,1,11,1169,10035,0.0,0,1,0
3292,0.2,113.568,2,3,1,1,12,414,94110,0.0,0,0,1
3293,0.2,3.024,3,3,2,1,4,5092,80538,-31.0,0,0,1

In [44]:
final=pd.DataFrame(test["id"])

final["profit"]=xgb_clf.predict(x_test)

In [45]:
final

        id     profit
0     6701   2.013955
1     6702  33.411427
2     6703  -0.379312
3     6704   8.750709
4     6705  18.348099
...    ...        ...
3289  9990 -14.167995
3290  9991   9.901832
3291  9992  24.464622
3292  9993   4.012878
3293  9994  -0.501660

[3294 rows x 2 columns]

In [14]:
final.to_csv('submission3.csv', index=False)

# Attempt

In [33]:
df=pd.read_csv("train.csv",parse_dates=[12,15])

df["Delay"]=df["placement date"]-df["delivery date"]
df["Delay"]=df["Delay"]/ np.timedelta64(1,"D")

del df["RID"]

del df["delivery date"]
del df["placement date"]
del df["departure city"]
del df["departure state"]

train_df=pd.get_dummies(df,columns=["location","class","segment","sub-class","delivery type"],drop_first=True)

y=df["profit"]
x=train_df.drop("profit",axis=1)


del x["id"]

In [34]:
x

,discount,price,no of items,address code,Delay,location_East,location_South,location_West,class_kariox,class_qexty,...,sub-class_phone,sub-class_shorts,sub-class_sweets,sub-class_tablet,sub-class_television,sub-class_tshirts,sub-class_watch,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.2,16.448,2,77095,0.0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
1,0.0,29.700,5,48185,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,0.0,14.730,3,48185,0.0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
3,0.0,43.920,3,48185,0.0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
4,0.0,66.580,2,48185,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6695,0.0,542.940,3,5408,0.0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
6696,0.2,276.784,2,95123,0.0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
6697,0.0,2.040,1,5408,0.0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
6698,0.1,207.846,3,10024,0.0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
6699,0.2,160.776,3,90045,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [35]:
y

0         5.5512
1        13.3650
2         4.8609
3        12.7368
4        15.9792
          ...
6695    152.0232
6696     89.9548
6697      0.9588
6698      2.3094
6699     10.0485
Name: profit, Length: 6700, dtype: float64

In [36]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import normalize

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [38]:
scalar=preprocessing.StandardScaler()
x_train_s=scalar.fit_transform(x_train)
x_test_s=scalar.fit_transform(x_test)

In [39]:
min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(x_train)
x_train_n = pd.DataFrame(np_scaled)

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(x_test)
x_test_n = pd.DataFrame(np_scaled)

In [42]:
x_train_n

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,0.00,0.000252,0.000000,0.421123,1.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.25,0.014896,0.153846,0.753514,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.25,0.000454,0.307692,0.184142,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.00,0.002712,0.538462,0.926074,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.00,0.001085,0.307692,0.987808,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5355,0.00,0.007217,0.153846,0.203580,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5356,0.00,0.011018,0.384615,0.905670,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5357,0.25,0.000693,0.307692,0.184142,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
5358,0.25,0.000280,0.076923,0.905843,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5359,0.00,0.010827,0.384615,0.390399,1.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [43]:
import xgboost as xgb

xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.05,colsample_bytree=0.9)

xgb_clf.fit(x_train, y_train)

r2_score(y_train,xgb_clf.predict(x_train) )

0.9982164188707033

In [44]:
r2_score(y_test,xgb_clf.predict(x_test) )

0.6833413840287805

In [45]:
xgb_clf = xgb.XGBRegressor(n_estimators=500,learning_rate=0.2,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.05,colsample_bytree=0.9)

xgb_clf.fit(x_train_s, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.9, gamma=0.2, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.2, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=500, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0.05, reg_lambda=1, scale_pos_weight=1, subsample=0.8,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [46]:
r2_score(y_test,xgb_clf.predict(x_test_s) )

0.09979517952074168

In [47]:
xgb_clf = xgb.XGBRegressor(n_estimators=500,learning_rate=0.2,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.05,colsample_bytree=0.9)

xgb_clf.fit(x_train_n, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.9, gamma=0.2, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.2, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=500, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0.05, reg_lambda=1, scale_pos_weight=1, subsample=0.8,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [48]:
r2_score(y_test,xgb_clf.predict(x_test_n) )

-2.425322770508802

# Attempt 2

In [49]:
df=pd.read_csv("train.csv",parse_dates=[12,15])

df["Delay"]=df["placement date"]-df["delivery date"]
df["Delay"]=df["Delay"]/ np.timedelta64(1,"D")

df["delivery type"]=df["delivery type"].fillna("Same Day")

del df["RID"]

del df["delivery date"]
del df["placement date"]
del df["departure city"]
del df["departure state"]
del df["address code"]

d={"Home Office":3,"Corporate":2,"Consumer":1}
df["segment"]=df["segment"].map(d)
d={"Central":1,"East":2,"West":3,"South":4}
df["location"]=df["location"].map(d)


d={"kariox":2,"qexty":1,"fynota":3}
df["class"]=df["class"].map(d)


h={}
n=1
for i in df.groupby("sub-class")["profit"].sum().sort_values().index:
    h[i]=n
    n+=1
df["sub-class"]=df["sub-class"].map(h)    


train_df=pd.get_dummies(df,columns=["delivery type"],drop_first=True)

y=df["profit"]
x=train_df.drop("profit",axis=1)


del x["id"]

In [98]:
x.Delay.unique()

array([  0., -31., -28., -30., -29.])

In [50]:
y

0         5.5512
1        13.3650
2         4.8609
3        12.7368
4        15.9792
          ...
6695    152.0232
6696     89.9548
6697      0.9588
6698      2.3094
6699     10.0485
Name: profit, Length: 6700, dtype: float64

In [51]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import normalize

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

scalar=preprocessing.StandardScaler()
x_train_s=scalar.fit_transform(x_train)
x_test_s=scalar.fit_transform(x_test)

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(x_train)
x_train_n = pd.DataFrame(np_scaled)

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(x_test)
x_test_n = pd.DataFrame(np_scaled)

In [54]:
x_train_n

,0,1,2,3,4,5,6,7,8,9,10
0,0.250,0.000988,0.307692,0.666667,0.5,0.5,0.8125,1.0,0.0,0.0,1.0
1,0.000,0.027261,0.153846,1.000000,1.0,0.5,0.9375,1.0,0.0,0.0,1.0
2,0.375,0.004724,0.076923,0.000000,0.0,0.0,0.6875,1.0,0.0,0.0,1.0
3,0.000,0.004301,0.461538,0.333333,0.5,0.0,0.6250,1.0,0.0,0.0,1.0
4,0.000,0.001308,0.230769,0.333333,0.5,1.0,0.7500,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
5355,0.000,0.007183,0.153846,1.000000,0.5,0.0,0.5625,1.0,0.0,0.0,1.0
5356,0.875,0.000167,0.076923,0.333333,0.5,0.5,0.8125,1.0,0.0,1.0,0.0
5357,0.250,0.039372,0.461538,0.666667,0.0,0.0,0.0000,1.0,1.0,0.0,0.0
5358,0.000,0.034096,0.230769,0.666667,0.5,0.0,0.6250,1.0,0.0,0.0,1.0
5359,0.250,0.000771,0.307692,0.333333,0.5,0.0,0.8125,1.0,0.0,0.0,1.0

In [55]:
import xgboost as xgb

xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.05,colsample_bytree=0.9)

xgb_clf.fit(x_train, y_train)
r2_score(y_test,xgb_clf.predict(x_test) ),r2_score(y_train,xgb_clf.predict(x_train) )

(0.6395492377123362, 0.9964820685715499)

In [56]:
import xgboost as xgb
xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.05,colsample_bytree=0.9)

xgb_clf.fit(x_train_s, y_train)
r2_score(y_test,xgb_clf.predict(x_test_s) ),r2_score(y_train,xgb_clf.predict(x_train_s) )

(0.757355591188657, 0.9965033557505416)

In [72]:
x

,discount,price,no of items,location,class,segment,sub-class,Delay,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.2,16.448,2,1,2,1,13,0.0,0,0,1
1,0.0,29.700,5,1,2,1,14,0.0,0,0,1
2,0.0,14.730,3,1,1,1,9,0.0,0,0,1
3,0.0,43.920,3,1,2,1,6,0.0,0,0,1
4,0.0,66.580,2,1,2,1,11,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
6695,0.0,542.940,3,2,2,1,10,0.0,0,0,1
6696,0.2,276.784,2,3,2,2,14,0.0,0,0,1
6697,0.0,2.040,1,2,2,1,7,0.0,0,0,1
6698,0.1,207.846,3,2,1,2,12,0.0,0,1,0
6699,0.2,160.776,3,3,3,1,16,0.0,0,0,1

# Attempt 3

In [93]:
df=pd.read_csv("train.csv",parse_dates=[12,15])

df["Delay"]=df["placement date"]-df["delivery date"]
df["Delay"]=df["Delay"]/ np.timedelta64(1,"D")

del df["RID"]
df["delivery type"]=df["delivery type"].fillna("Same Day")

del df["delivery date"]
del df["placement date"]
del df["departure city"]
del df["departure state"]

train_df=pd.get_dummies(df,columns=["location","class","segment","sub-class","delivery type"],drop_first=True)

y=df["profit"]
x=train_df.drop("profit",axis=1)


del x["id"]

In [83]:
x

,discount,price,no of items,address code,Delay,location_East,location_South,location_West,class_kariox,class_qexty,...,sub-class_phone,sub-class_shorts,sub-class_sweets,sub-class_tablet,sub-class_television,sub-class_tshirts,sub-class_watch,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.2,16.448,2,77095,0.0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
1,0.0,29.700,5,48185,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,0.0,14.730,3,48185,0.0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
3,0.0,43.920,3,48185,0.0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
4,0.0,66.580,2,48185,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6695,0.0,542.940,3,5408,0.0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
6696,0.2,276.784,2,95123,0.0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
6697,0.0,2.040,1,5408,0.0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
6698,0.1,207.846,3,10024,0.0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
6699,0.2,160.776,3,90045,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [94]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import normalize

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

scalar=preprocessing.StandardScaler()
x_train_s=scalar.fit_transform(x_train)
x_test_s=scalar.fit_transform(x_test)

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(x_train)
x_train_n = pd.DataFrame(np_scaled)

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(x_test)
x_test_n = pd.DataFrame(np_scaled)

In [95]:
import xgboost as xgb

xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.05,colsample_bytree=0.9)

xgb_clf.fit(x_train, y_train)
r2_score(y_test,xgb_clf.predict(x_test) ),r2_score(y_train,xgb_clf.predict(x_train) )

(0.6986595809653382, 0.9978190926684286)

In [96]:
import xgboost as xgb
xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.05,colsample_bytree=0.9)

xgb_clf.fit(x_train_s, y_train)
r2_score(y_test,xgb_clf.predict(x_test_s) ),r2_score(y_train,xgb_clf.predict(x_train_s) )

(0.6971940122313931, 0.9978299307559364)

In [90]:
x_train

,discount,price,no of items,address code,Delay,location_East,location_South,location_West,class_kariox,class_qexty,...,sub-class_phone,sub-class_shorts,sub-class_sweets,sub-class_tablet,sub-class_television,sub-class_tshirts,sub-class_watch,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
6026,0.0,64.960,2,10024,0.0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4072,0.0,79.920,4,90036,0.0,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,1
4177,0.0,79.920,4,98115,0.0,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,1
1598,0.0,167.940,3,11561,0.0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
2405,0.2,54.816,3,85204,0.0,0,0,1,1,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3405,0.7,7.380,5,27893,0.0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
5269,0.2,95.976,3,60610,-31.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3198,0.0,120.330,1,10009,0.0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
6627,0.0,316.000,4,98661,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1258,0.0,2.840,1,23602,0.0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1

# submission

In [85]:
df=pd.read_csv("train.csv",parse_dates=[12,15])

df["Delay"]=df["placement date"]-df["delivery date"]
df["Delay"]=df["Delay"]/ np.timedelta64(1,"D")

df["delivery type"]=df["delivery type"].fillna("Same Day")

# del df["RID"]

del df["delivery date"]
del df["placement date"]
del df["departure city"]
del df["departure state"]
# del df["address code"]

d={"Home Office":3,"Corporate":2,"Consumer":1}
df["segment"]=df["segment"].map(d)
d={"Central":1,"East":2,"West":3,"South":4}
df["location"]=df["location"].map(d)


d={"kariox":2,"qexty":1,"fynota":3}
df["class"]=df["class"].map(d)


h={}
n=1
for i in df.groupby("sub-class")["profit"].sum().sort_values().index:
    h[i]=n
    n+=1
df["sub-class"]=df["sub-class"].map(h)    


train_df=pd.get_dummies(df,columns=["delivery type"],drop_first=True)

y=df["profit"]
x=train_df.drop("profit",axis=1)


del x["id"]



test=pd.read_csv("test.csv",parse_dates=[11,14])

# del x_train["id"]

x_test=test.copy()

del x_test["id"]

x_test["Delay"]=x_test["placement date"]-x_test["delivery date"]
x_test["Delay"]=x_test["Delay"]/ np.timedelta64(1,"D")

del x_test["delivery date"]
del x_test["placement date"]
del x_test["departure city"]
del x_test["departure state"]

# del x_test["address code"]
d={"Home Office":3,"Corporate":2,"Consumer":1}
x_test["segment"]=x_test["segment"].map(d)
d={"Central":1,"East":2,"West":3,"South":4}
x_test["location"]=x_test["location"].map(d)


d={"kariox":2,"qexty":1,"fynota":3}
x_test["class"]=x_test["class"].map(d)



x_test["sub-class"]=x_test["sub-class"].map(h)    


x_test=pd.get_dummies(x_test,columns=["delivery type"],drop_first=True)

# del x_test["RID"]

In [59]:
x_test

,discount,price,no of items,location,class,segment,sub-class,RID,address code,Delay,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.0,24.200,5,3,2,1,6,2408,94122,0.0,0,0,1
1,0.2,359.976,3,3,3,1,16,2409,94122,0.0,0,0,1
2,0.0,3.520,2,2,2,1,6,5425,6708,0.0,0,0,1
3,0.2,11.520,5,1,2,1,5,7408,60653,0.0,0,0,0
4,0.0,242.940,3,3,2,3,11,733,98115,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3289,0.0,31.920,4,2,2,1,11,1171,10035,0.0,0,1,0
3290,0.0,19.440,3,2,2,1,13,1170,10035,0.0,0,1,0
3291,0.0,272.940,3,2,2,1,11,1169,10035,0.0,0,1,0
3292,0.2,113.568,2,3,1,1,12,414,94110,0.0,0,0,1
3293,0.2,3.024,3,3,2,1,4,5092,80538,-31.0,0,0,1

In [87]:
x

,discount,price,no of items,location,class,segment,sub-class,RID,address code,Delay,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.2,16.448,2,1,2,1,13,7981,77095,0.0,0,0,1
1,0.0,29.700,5,1,2,1,14,6334,48185,0.0,0,0,1
2,0.0,14.730,3,1,1,1,9,6333,48185,0.0,0,0,1
3,0.0,43.920,3,1,2,1,6,6332,48185,0.0,0,0,1
4,0.0,66.580,2,1,2,1,11,6331,48185,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6695,0.0,542.940,3,2,2,1,10,9389,5408,0.0,0,0,1
6696,0.2,276.784,2,3,2,2,14,9597,95123,0.0,0,0,1
6697,0.0,2.040,1,2,2,1,7,9390,5408,0.0,0,0,1
6698,0.1,207.846,3,2,1,2,12,440,10024,0.0,0,1,0
6699,0.2,160.776,3,3,3,1,16,1659,90045,0.0,0,0,1

In [86]:
y

0         5.5512
1        13.3650
2         4.8609
3        12.7368
4        15.9792
          ...
6695    152.0232
6696     89.9548
6697      0.9588
6698      2.3094
6699     10.0485
Name: profit, Length: 6700, dtype: float64

In [63]:
from sklearn import preprocessing
scalar=preprocessing.StandardScaler()
x_train_s=scalar.fit_transform(x)
x_test_s=scalar.fit_transform(x_test)

In [88]:
import xgboost as xgb
xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.2,colsample_bytree= 0.9,gamma= 0.05,max_depth= 5,reg_alpha=0.05,subsample=0.8)
xgb_clf.fit(x, y)
r2_score(y,xgb_clf.predict(x) )

0.9998949211057685

In [74]:
import xgboost as xgb
xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.05,colsample_bytree=0.9)

xgb_clf.fit(x, y)
r2_score(y,xgb_clf.predict(x) )

0.9974339036841527

In [89]:
final=pd.DataFrame(test["id"])

final["profit"]=xgb_clf.predict(x_test)

In [90]:
final

        id     profit
0     6701   7.790159
1     6702  40.794193
2     6703   2.637712
3     6704   1.852452
4     6705  13.851048
...    ...        ...
3289  9990   4.014146
3290  9991   9.676437
3291  9992   9.827170
3292  9993   4.682978
3293  9994   3.288406

[3294 rows x 2 columns]

In [68]:
final.to_csv('submission4.csv', index=False)

In [84]:
r2_score(pd.read_csv("submission1.csv")["profit"],pd.read_csv("submission4.csv")["profit"])

0.9114507266066803

In [91]:
r2_score(final["profit"],pd.read_csv("submission1.csv")["profit"])

0.9415524467272655

# Attempt 4

In [92]:
df=pd.read_csv("train.csv",parse_dates=[12,15])

df["Delay"]=df["placement date"]-df["delivery date"]
df["Delay"]=df["Delay"]/ np.timedelta64(1,"D")

df["delivery type"]=df["delivery type"].fillna("Same Day")

# del df["RID"]

del df["delivery date"]
del df["placement date"]
del df["departure city"]
del df["departure state"]
# del df["address code"]

d={"Home Office":3,"Corporate":2,"Consumer":1}
df["segment"]=df["segment"].map(d)
d={"Central":1,"East":2,"West":3,"South":4}
df["location"]=df["location"].map(d)


d={"kariox":2,"qexty":1,"fynota":3}
df["class"]=df["class"].map(d)


h={}
n=1
for i in df.groupby("sub-class")["profit"].sum().sort_values().index:
    h[i]=n
    n+=1
df["sub-class"]=df["sub-class"].map(h)    


train_df=pd.get_dummies(df,columns=["delivery type"],drop_first=True)

y=df["profit"]
x=train_df.drop("profit",axis=1)


del x["id"]

In [93]:
x

,discount,price,no of items,location,class,segment,sub-class,RID,address code,Delay,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.2,16.448,2,1,2,1,13,7981,77095,0.0,0,0,1
1,0.0,29.700,5,1,2,1,14,6334,48185,0.0,0,0,1
2,0.0,14.730,3,1,1,1,9,6333,48185,0.0,0,0,1
3,0.0,43.920,3,1,2,1,6,6332,48185,0.0,0,0,1
4,0.0,66.580,2,1,2,1,11,6331,48185,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6695,0.0,542.940,3,2,2,1,10,9389,5408,0.0,0,0,1
6696,0.2,276.784,2,3,2,2,14,9597,95123,0.0,0,0,1
6697,0.0,2.040,1,2,2,1,7,9390,5408,0.0,0,0,1
6698,0.1,207.846,3,2,1,2,12,440,10024,0.0,0,1,0
6699,0.2,160.776,3,3,3,1,16,1659,90045,0.0,0,0,1

In [94]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import normalize

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [95]:
import xgboost as xgb
xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.2,colsample_bytree= 0.9,gamma= 0.05,max_depth= 5,reg_alpha=0.05,subsample=0.8)
xgb_clf.fit(x_train, y_train)
r2_score(y_train,xgb_clf.predict(x_train) )

0.9999509576361606

In [96]:
r2_score(y_test,xgb_clf.predict(x_test) )

0.5741044011733725

# Attempt 5

In [109]:
df=pd.read_csv("train.csv",parse_dates=[12,15])

df["Delay"]=df["placement date"]-df["delivery date"]
df["Delay"]=df["Delay"]/ np.timedelta64(1,"D")

df["delivery type"]=df["delivery type"].fillna("Same Day")

del df["RID"]
# del df["address code"]

del df["delivery date"]
del df["placement date"]
del df["departure city"]
del df["departure state"]

train_df=pd.get_dummies(df,columns=["location","class","segment","sub-class","delivery type"],drop_first=True)

y=df["profit"]
x=train_df.drop("profit",axis=1)


del x["id"]

In [110]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import normalize


x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [111]:
import xgboost as xgb
xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.2,colsample_bytree= 0.9,gamma= 0.05,max_depth= 5,reg_alpha=0.05,subsample=0.8)
xgb_clf.fit(x_train, y_train)
r2_score(y_train,xgb_clf.predict(x_train) )

0.9999289792118277

In [112]:
r2_score(y_test,xgb_clf.predict(x_test) )

0.8169499162431388

# Submission

In [42]:
df=pd.read_csv("train.csv",parse_dates=[12,15])

df["Delay"]=df["placement date"]-df["delivery date"]
df["Delay"]=df["Delay"]/ np.timedelta64(1,"D")

df["delivery type"]=df["delivery type"].fillna("Same Day")

# del df["RID"]
# del df["address code"]

del df["delivery date"]
del df["placement date"]
del df["departure city"]
del df["departure state"]

train_df=pd.get_dummies(df,columns=["location","class","segment","sub-class","delivery type"],drop_first=True)

y=df["profit"]
x=train_df.drop("profit",axis=1)


del x["id"]





test=pd.read_csv("test.csv",parse_dates=[11,14])


x_test=test.copy()

del x_test["id"]

x_test["Delay"]=x_test["placement date"]-x_test["delivery date"]
x_test["Delay"]=x_test["Delay"]/ np.timedelta64(1,"D")

del x_test["delivery date"]
del x_test["placement date"]
del x_test["departure city"]
del x_test["departure state"]

x_test=pd.get_dummies(x_test,columns=["location","class","segment","sub-class","delivery type"],drop_first=True)
# del x_test["address code"]
# del x_test["RID"]

In [43]:
x

,discount,price,no of items,RID,address code,Delay,location_East,location_South,location_West,class_kariox,...,sub-class_phone,sub-class_shorts,sub-class_sweets,sub-class_tablet,sub-class_television,sub-class_tshirts,sub-class_watch,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.2,16.448,2,7981,77095,0.0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
1,0.0,29.700,5,6334,48185,0.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,0.0,14.730,3,6333,48185,0.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,0.0,43.920,3,6332,48185,0.0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
4,0.0,66.580,2,6331,48185,0.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6695,0.0,542.940,3,9389,5408,0.0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
6696,0.2,276.784,2,9597,95123,0.0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
6697,0.0,2.040,1,9390,5408,0.0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,1
6698,0.1,207.846,3,440,10024,0.0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
6699,0.2,160.776,3,1659,90045,0.0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [44]:
x_test

,discount,price,no of items,RID,address code,Delay,location_East,location_South,location_West,class_kariox,...,sub-class_phone,sub-class_shorts,sub-class_sweets,sub-class_tablet,sub-class_television,sub-class_tshirts,sub-class_watch,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.0,24.200,5,2408,94122,0.0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,1
1,0.2,359.976,3,2409,94122,0.0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,0.0,3.520,2,5425,6708,0.0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,1
3,0.2,11.520,5,7408,60653,0.0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,0.0,242.940,3,733,98115,0.0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3289,0.0,31.920,4,1171,10035,0.0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3290,0.0,19.440,3,1170,10035,0.0,1,0,0,1,...,1,0,0,0,0,0,0,0,1,0
3291,0.0,272.940,3,1169,10035,0.0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3292,0.2,113.568,2,414,94110,0.0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
3293,0.2,3.024,3,5092,80538,-31.0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1

In [45]:
import xgboost as xgb
#xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.2,colsample_bytree= 0.9,gamma= 0.05,max_depth= 5,reg_alpha=0.05,subsample=0.8)
xgb_clf = xgb.XGBRegressor(n_estimators=500,learning_rate=0.2,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.5,colsample_bytree=0.9)
xgb_clf.fit(x, y)
r2_score(y,xgb_clf.predict(x) )

0.9942360448251008

In [46]:
final=pd.DataFrame(test["id"])

final["profit"]=xgb_clf.predict(x_test)

In [47]:
r2_score(pd.read_csv("submission1.csv")["profit"],final["profit"])

0.9733292901749842

In [41]:
final.to_csv('submission8.csv', index=False)

In [130]:
r2_score(pd.read_csv("submission1.csv")["profit"],pd.read_csv("submission6.csv")["profit"])

1.0

In [39]:
final

        id     profit
0     6701   4.980422
1     6702  31.695112
2     6703   2.405542
3     6704   2.185692
4     6705  20.897997
...    ...        ...
3289  9990   2.027780
3290  9991   9.546029
3291  9992  22.908361
3292  9993   0.593660
3293  9994   0.360037

[3294 rows x 2 columns]

In [40]:
pd.read_csv("submission1.csv")

        id     profit
0     6701   7.612872
1     6702  39.257774
2     6703  -0.815404
3     6704   5.485227
4     6705  23.871029
...    ...        ...
3289  9990  -1.171187
3290  9991   9.648065
3291  9992  28.005226
3292  9993   7.939437
3293  9994  -0.289948

[3294 rows x 2 columns]

# Attempt 5

In [4]:
df=pd.read_csv("train.csv",parse_dates=[12,15])

df["Delay"]=df["placement date"]-df["delivery date"]
df["Delay"]=df["Delay"]/ np.timedelta64(1,"D")

df["delivery type"]=df["delivery type"].fillna("Same Day")

del df["RID"]
del df["address code"]
df["price/item"]=df["price"]/df["no of items"]
del df["delivery date"]
del df["placement date"]
del df["departure city"]
del df["departure state"]

train_df=pd.get_dummies(df,columns=["location","class","segment","sub-class","delivery type"],drop_first=True)

y=df["profit"]
x=train_df.drop("profit",axis=1)


del x["id"]





test=pd.read_csv("test.csv",parse_dates=[11,14])


x_test=test.copy()

del x_test["id"]

x_test["Delay"]=x_test["placement date"]-x_test["delivery date"]
x_test["Delay"]=x_test["Delay"]/ np.timedelta64(1,"D")

del x_test["delivery date"]
del x_test["placement date"]
del x_test["departure city"]
del x_test["departure state"]
x_test["price/item"]=x_test["price"]/x_test["no of items"]
x_test=pd.get_dummies(x_test,columns=["location","class","segment","sub-class","delivery type"],drop_first=True)
del x_test["address code"]
del x_test["RID"]

In [5]:
x

,discount,price,no of items,Delay,price/item,location_East,location_South,location_West,class_kariox,class_qexty,...,sub-class_phone,sub-class_shorts,sub-class_sweets,sub-class_tablet,sub-class_television,sub-class_tshirts,sub-class_watch,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.2,16.448,2,0.0,8.224,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
1,0.0,29.700,5,0.0,5.940,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,0.0,14.730,3,0.0,4.910,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
3,0.0,43.920,3,0.0,14.640,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
4,0.0,66.580,2,0.0,33.290,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6695,0.0,542.940,3,0.0,180.980,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
6696,0.2,276.784,2,0.0,138.392,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
6697,0.0,2.040,1,0.0,2.040,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
6698,0.1,207.846,3,0.0,69.282,1,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
6699,0.2,160.776,3,0.0,53.592,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
x_test

,discount,price,no of items,Delay,price/item,location_East,location_South,location_West,class_kariox,class_qexty,...,sub-class_phone,sub-class_shorts,sub-class_sweets,sub-class_tablet,sub-class_television,sub-class_tshirts,sub-class_watch,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.0,24.200,5,0.0,4.840,0,0,1,1,0,...,0,0,0,0,1,0,0,0,0,1
1,0.2,359.976,3,0.0,119.992,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0.0,3.520,2,0.0,1.760,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
3,0.2,11.520,5,0.0,2.304,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,0.0,242.940,3,0.0,80.980,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3289,0.0,31.920,4,0.0,7.980,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3290,0.0,19.440,3,0.0,6.480,1,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
3291,0.0,272.940,3,0.0,90.980,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3292,0.2,113.568,2,0.0,56.784,0,0,1,0,1,...,0,0,0,0,0,1,0,0,0,1
3293,0.2,3.024,3,-31.0,1.008,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1

In [93]:
xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.1,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.5,colsample_bytree=0.9)
xgb_clf.fit(x, y)
r2_score(y,xgb_clf.predict(x) )

0.9958268967799387

In [17]:
import xgboost as xgb
xgb_clf = xgb.XGBRegressor(n_estimators=1000,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.5,colsample_bytree=0.9)
xgb_clf.fit(
    x,
    y,
    eval_metric="rmse",
    eval_set=[(x, y), (x, y)],
    verbose=True,
    early_stopping_rounds = 10)

[0]	validation_0-rmse:205.38518	validation_1-rmse:205.38518
[1]	validation_0-rmse:188.01056	validation_1-rmse:188.01056
[2]	validation_0-rmse:162.81883	validation_1-rmse:162.81883
[3]	validation_0-rmse:148.87566	validation_1-rmse:148.87566
[4]	validation_0-rmse:140.57797	validation_1-rmse:140.57797
[5]	validation_0-rmse:130.39414	validation_1-rmse:130.39414
[6]	validation_0-rmse:119.55745	validation_1-rmse:119.55745
[7]	validation_0-rmse:117.17532	validation_1-rmse:117.17532
[8]	validation_0-rmse:112.00243	validation_1-rmse:112.00243
[9]	validation_0-rmse:102.80603	validation_1-rmse:102.80603
[10]	validation_0-rmse:99.99976	validation_1-rmse:99.99976
[11]	validation_0-rmse:97.82172	validation_1-rmse:97.82172
[12]	validation_0-rmse:97.27062	validation_1-rmse:97.27062
[13]	validation_0-rmse:96.33130	validation_1-rmse:96.33130
[14]	validation_0-rmse:92.75822	validation_1-rmse:92.75822
[15]	validation_0-rmse:86.10085	validation_1-rmse:86.10085
[16]	validation_0-rmse:84.42673	validation_1-rmse:84.42673
[17]	validation_0-rmse:79.85923	validation_1-rmse:79.85923
[18]	validation_0-rmse:77.98852	validation_1-rmse:77.98852
[19]	validation_0-rmse:75.65185	validation_1-rmse:75.65185
[20]	validation_0-rmse:74.06458	validation_1-rmse:74.06458
[21]	validation_0-rmse:69.34833	validation_1-rmse:69.34833
[22]	validation_0-rmse:68.02842	validation_1-rmse:68.02842
[23]	validation_0-rmse:66.65859	validation_1-rmse:66.65859
[24]	validation_0-rmse:65.63987	validation_1-rmse:65.63987
[25]	validation_0-rmse:63.61783	validation_1-rmse:63.61783
[26]	validation_0-rmse:63.47446	validation_1-rmse:63.47446
[27]	validation_0-rmse:61.26661	validation_1-rmse:61.26661
[28]	validation_0-rmse:60.73558	validation_1-rmse:60.73558
[29]	validation_0-rmse:60.32830	validation_1-rmse:60.32830
[30]	validation_0-rmse:58.68980	validation_1-rmse:58.68980
[31]	validation_0-rmse:57.91325	validation_1-rmse:57.91325
[32]	validation_0-rmse:56.51945	validation_1-rmse:56.51945
[33]	validation_0-rmse:55.72696	validation_1-rmse:55.72696
[34]	validation_0-rmse:54.94611	validation_1-rmse:54.94611
[35]	validation_0-rmse:52.56851	validation_1-rmse:52.56851
[36]	validation_0-rmse:52.22916	validation_1-rmse:52.22916
[37]	validation_0-rmse:51.21534	validation_1-rmse:51.21534
[38]	validation_0-rmse:50.81005	validation_1-rmse:50.81005
[39]	validation_0-rmse:50.40485	validation_1-rmse:50.40485
[40]	validation_0-rmse:49.13564	validation_1-rmse:49.13564
[41]	validation_0-rmse:48.82431	validation_1-rmse:48.82431
[42]	validation_0-rmse:47.56403	validation_1-rmse:47.56403
[43]	validation_0-rmse:47.33002	validation_1-rmse:47.33002
[44]	validation_0-rmse:46.93011	validation_1-rmse:46.93011
[45]	validation_0-rmse:45.95503	validation_1-rmse:45.95503
[46]	validation_0-rmse:45.48283	validation_1-rmse:45.48283
[47]	validation_0-rmse:45.08966	validation_1-rmse:45.08966
[48]	validation_0-rmse:44.71002	validation_1-rmse:44.71002
[49]	validation_0-rmse:44.29541	validation_1-rmse:44.29541
[50]	validation_0-rmse:43.92115	validation_1-rmse:43.92115
[51]	validation_0-rmse:43.69512	validation_1-rmse:43.69512
[52]	validation_0-rmse:43.02433	validation_1-rmse:43.02433
[53]	validation_0-rmse:42.21408	validation_1-rmse:42.21408
[54]	validation_0-rmse:41.36573	validation_1-rmse:41.36573
[55]	validation_0-rmse:41.03713	validation_1-rmse:41.03713
[56]	validation_0-rmse:40.82813	validation_1-rmse:40.82813
[57]	validation_0-rmse:40.56085	validation_1-rmse:40.56085
[58]	validation_0-rmse:40.32001	validation_1-rmse:40.32001
[59]	validation_0-rmse:39.86355	validation_1-rmse:39.86355
[60]	validation_0-rmse:39.58453	validation_1-rmse:39.58453
[61]	validation_0-rmse:39.02951	validation_1-rmse:39.02951
[62]	validation_0-rmse:38.90836	validation_1-rmse:38.90836
[63]	validation_0-rmse:38.78950	validation_1-rmse:38.78950
[64]	validation_0-rmse:38.40650	validation_1-rmse:38.40650
[65]	validation_0-rmse:38.25201	validation_1-rmse:38.25201
[66]	validation_0-rmse:37.93816	validation_1-rmse:37.93816
[67]	validation_0-rmse:37.76182	validation_1-rmse:37.76182
[68]	validation_0-rmse:37.56536	validation_1-rmse:37.56536
[69]	validation_0-rmse:37.20110	validation_1-rmse:37.20110
[70]	validation_0-rmse:36.97912	validation_1-rmse:36.97912
[71]	validation_0-rmse:36.59687	validation_1-rmse:36.59687
[72]	validation_0-rmse:36.46900	validation_1-rmse:36.46900
[73]	validation_0-rmse:36.34052	validation_1-rmse:36.34052
[74]	validation_0-rmse:35.93817	validation_1-rmse:35.93817
[75]	validation_0-rmse:35.59882	validation_1-rmse:35.59882
[76]	validation_0-rmse:35.38264	validation_1-rmse:35.38264
[77]	validation_0-rmse:35.11204	validation_1-rmse:35.11204
[78]	validation_0-rmse:34.90659	validation_1-rmse:34.90659
[79]	validation_0-rmse:34.71172	validation_1-rmse:34.71172
[80]	validation_0-rmse:34.63200	validation_1-rmse:34.63200
[81]	validation_0-rmse:34.49591	validation_1-rmse:34.49591
[82]	validation_0-rmse:34.25753	validation_1-rmse:34.25753
[83]	validation_0-rmse:34.09163	validation_1-rmse:34.09163
[84]	validation_0-rmse:33.93114	validation_1-rmse:33.93114
[85]	validation_0-rmse:33.59294	validation_1-rmse:33.59294
[86]	validation_0-rmse:33.47783	validation_1-rmse:33.47783
[87]	validation_0-rmse:33.32682	validation_1-rmse:33.32682
[88]	validation_0-rmse:33.18386	validation_1-rmse:33.18386
[89]	validation_0-rmse:33.06182	validation_1-rmse:33.06182
[90]	validation_0-rmse:32.93205	validation_1-rmse:32.93205
[91]	validation_0-rmse:32.68957	validation_1-rmse:32.68957
[92]	validation_0-rmse:32.64003	validation_1-rmse:32.64003
[93]	validation_0-rmse:32.52797	validation_1-rmse:32.52797
[94]	validation_0-rmse:32.05109	validation_1-rmse:32.05109
[95]	validation_0-rmse:32.01146	validation_1-rmse:32.01146
[96]	validation_0-rmse:31.91435	validation_1-rmse:31.91435
[97]	validation_0-rmse:31.84787	validation_1-rmse:31.84787
[98]	validation_0-rmse:31.51552	validation_1-rmse:31.51552
[99]	validation_0-rmse:31.42659	validation_1-rmse:31.42659
[100]	validation_0-rmse:31.23021	validation_1-rmse:31.23021
[101]	validation_0-rmse:31.06106	validation_1-rmse:31.06106
[102]	validation_0-rmse:31.03596	validation_1-rmse:31.03596
[103]	validation_0-rmse:30.89720	validation_1-rmse:30.89720
[104]	validation_0-rmse:30.61933	validation_1-rmse:30.61933
[105]	validation_0-rmse:30.57235	validation_1-rmse:30.57235
[106]	validation_0-rmse:30.41005	validation_1-rmse:30.41005
[107]	validation_0-rmse:30.28734	validation_1-rmse:30.28734
[108]	validation_0-rmse:30.05570	validation_1-rmse:30.05570
[109]	validation_0-rmse:29.98938	validation_1-rmse:29.98938
[110]	validation_0-rmse:29.86108	validation_1-rmse:29.86108
[111]	validation_0-rmse:29.70307	validation_1-rmse:29.70307
[112]	validation_0-rmse:29.57560	validation_1-rmse:29.57560
[113]	validation_0-rmse:29.48540	validation_1-rmse:29.48540
[114]	validation_0-rmse:29.35897	validation_1-rmse:29.35897
[115]	validation_0-rmse:29.17470	validation_1-rmse:29.17470
[116]	validation_0-rmse:29.10579	validation_1-rmse:29.10579
[117]	validation_0-rmse:29.08353	validation_1-rmse:29.08353
[118]	validation_0-rmse:29.05147	validation_1-rmse:29.05147
[119]	validation_0-rmse:28.96181	validation_1-rmse:28.96181
[120]	validation_0-rmse:28.79413	validation_1-rmse:28.79413
[121]	validation_0-rmse:28.68609	validation_1-rmse:28.68609
[122]	validation_0-rmse:28.53096	validation_1-rmse:28.53096
[123]	validation_0-rmse:28.36064	validation_1-rmse:28.36064
[124]	validation_0-rmse:28.28644	validation_1-rmse:28.28644
[125]	validation_0-rmse:28.19136	validation_1-rmse:28.19136
[126]	validation_0-rmse:28.11802	validation_1-rmse:28.11802
[127]	validation_0-rmse:27.96119	validation_1-rmse:27.96119
[128]	validation_0-rmse:27.72490	validation_1-rmse:27.72490
[129]	validation_0-rmse:27.64360	validation_1-rmse:27.64360
[130]	validation_0-rmse:27.62253	validation_1-rmse:27.62253
[131]	validation_0-rmse:27.48828	validation_1-rmse:27.48828
[132]	validation_0-rmse:27.43008	validation_1-rmse:27.43008
[133]	validation_0-rmse:27.29163	validation_1-rmse:27.29163
[134]	validation_0-rmse:27.26144	validation_1-rmse:27.26144
[135]	validation_0-rmse:27.13000	validation_1-rmse:27.13000
[136]	validation_0-rmse:27.02107	validation_1-rmse:27.02107
[137]	validation_0-rmse:26.90310	validation_1-rmse:26.90310
[138]	validation_0-rmse:26.81842	validation_1-rmse:26.81842

[139]	validation_0-rmse:26.75546	validation_1-rmse:26.75546
[140]	validation_0-rmse:26.74059	validation_1-rmse:26.74059
[141]	validation_0-rmse:26.62372	validation_1-rmse:26.62372
[142]	validation_0-rmse:26.42157	validation_1-rmse:26.42157
[143]	validation_0-rmse:26.30285	validation_1-rmse:26.30285
[144]	validation_0-rmse:26.17735	validation_1-rmse:26.17735
[145]	validation_0-rmse:26.07319	validation_1-rmse:26.07319
[146]	validation_0-rmse:25.95489	validation_1-rmse:25.95489
[147]	validation_0-rmse:25.76841	validation_1-rmse:25.76841
[148]	validation_0-rmse:25.69426	validation_1-rmse:25.69426
[149]	validation_0-rmse:25.52939	validation_1-rmse:25.52939
[150]	validation_0-rmse:25.32737	validation_1-rmse:25.32737
[151]	validation_0-rmse:25.24630	validation_1-rmse:25.24630
[152]	validation_0-rmse:25.18071	validation_1-rmse:25.18071
[153]	validation_0-rmse:25.06818	validation_1-rmse:25.06818
[154]	validation_0-rmse:25.03084	validation_1-rmse:25.03084
[155]	validation_0-rmse:25.00089	validation_1-rmse:25.00089
[156]	validation_0-rmse:24.90087	validation_1-rmse:24.90087
[157]	validation_0-rmse:24.72039	validation_1-rmse:24.72039
[158]	validation_0-rmse:24.70149	validation_1-rmse:24.70149
[159]	validation_0-rmse:24.64965	validation_1-rmse:24.64965
[160]	validation_0-rmse:24.58975	validation_1-rmse:24.58975
[161]	validation_0-rmse:24.54282	validation_1-rmse:24.54282
[162]	validation_0-rmse:24.34683	validation_1-rmse:24.34683
[163]	validation_0-rmse:24.28085	validation_1-rmse:24.28085
[164]	validation_0-rmse:24.17107	validation_1-rmse:24.17107
[165]	validation_0-rmse:24.10406	validation_1-rmse:24.10406
[166]	validation_0-rmse:24.05772	validation_1-rmse:24.05772
[167]	validation_0-rmse:23.93614	validation_1-rmse:23.93614
[168]	validation_0-rmse:23.79318	validation_1-rmse:23.79318
[169]	validation_0-rmse:23.74328	validation_1-rmse:23.74328
[170]	validation_0-rmse:23.73158	validation_1-rmse:23.73158
[171]	validation_0-rmse:23.66812	validation_1-rmse:23.66812
[172]	validation_0-rmse:23.65870	validation_1-rmse:23.65870
[173]	validation_0-rmse:23.58766	validation_1-rmse:23.58766
[174]	validation_0-rmse:23.55742	validation_1-rmse:23.55742
[175]	validation_0-rmse:23.41327	validation_1-rmse:23.41327
[176]	validation_0-rmse:23.38346	validation_1-rmse:23.38346
[177]	validation_0-rmse:23.35308	validation_1-rmse:23.35308
[178]	validation_0-rmse:23.31014	validation_1-rmse:23.31014
[179]	validation_0-rmse:23.21695	validation_1-rmse:23.21695
[180]	validation_0-rmse:23.19651	validation_1-rmse:23.19651
[181]	validation_0-rmse:23.12528	validation_1-rmse:23.12528
[182]	validation_0-rmse:23.02920	validation_1-rmse:23.02920
[183]	validation_0-rmse:22.97931	validation_1-rmse:22.97931
[184]	validation_0-rmse:22.90085	validation_1-rmse:22.90085
[185]	validation_0-rmse:22.76459	validation_1-rmse:22.76459
[186]	validation_0-rmse:22.70084	validation_1-rmse:22.70084
[187]	validation_0-rmse:22.62532	validation_1-rmse:22.62532
[188]	validation_0-rmse:22.57034	validation_1-rmse:22.57034
[189]	validation_0-rmse:22.46228	validation_1-rmse:22.46228
[190]	validation_0-rmse:22.43221	validation_1-rmse:22.43221
[191]	validation_0-rmse:22.36929	validation_1-rmse:22.36929
[192]	validation_0-rmse:22.32900	validation_1-rmse:22.32900
[193]	validation_0-rmse:22.29595	validation_1-rmse:22.29595
[194]	validation_0-rmse:22.25488	validation_1-rmse:22.25488
[195]	validation_0-rmse:22.22150	validation_1-rmse:22.22150
[196]	validation_0-rmse:22.17694	validation_1-rmse:22.17694
[197]	validation_0-rmse:22.09087	validation_1-rmse:22.09087
[198]	validation_0-rmse:21.97753	validation_1-rmse:21.97753
[199]	validation_0-rmse:21.89540	validation_1-rmse:21.89540
[200]	validation_0-rmse:21.84544	validation_1-rmse:21.84544
[201]	validation_0-rmse:21.76144	validation_1-rmse:21.76144
[202]	validation_0-rmse:21.70467	validation_1-rmse:21.70467
[203]	validation_0-rmse:21.67666	validation_1-rmse:21.67666
[204]	validation_0-rmse:21.57436	validation_1-rmse:21.57436
[205]	validation_0-rmse:21.51581	validation_1-rmse:21.51581
[206]	validation_0-rmse:21.44150	validation_1-rmse:21.44150
[207]	validation_0-rmse:21.40992	validation_1-rmse:21.40992
[208]	validation_0-rmse:21.39773	validation_1-rmse:21.39773
[209]	validation_0-rmse:21.37750	validation_1-rmse:21.37750
[210]	validation_0-rmse:21.33912	validation_1-rmse:21.33912
[211]	validation_0-rmse:21.27251	validation_1-rmse:21.27251
[212]	validation_0-rmse:21.16051	validation_1-rmse:21.16051
[213]	validation_0-rmse:21.05781	validation_1-rmse:21.05781
[214]	validation_0-rmse:20.96486	validation_1-rmse:20.96486
[215]	validation_0-rmse:20.81731	validation_1-rmse:20.81731
[216]	validation_0-rmse:20.77873	validation_1-rmse:20.77873
[217]	validation_0-rmse:20.71358	validation_1-rmse:20.71358
[218]	validation_0-rmse:20.63303	validation_1-rmse:20.63303
[219]	validation_0-rmse:20.59326	validation_1-rmse:20.59326
[220]	validation_0-rmse:20.56175	validation_1-rmse:20.56175
[221]	validation_0-rmse:20.53215	validation_1-rmse:20.53215
[222]	validation_0-rmse:20.48379	validation_1-rmse:20.48379
[223]	validation_0-rmse:20.45503	validation_1-rmse:20.45503
[224]	validation_0-rmse:20.44072	validation_1-rmse:20.44072
[225]	validation_0-rmse:20.41272	validation_1-rmse:20.41272
[226]	validation_0-rmse:20.37240	validation_1-rmse:20.37240
[227]	validation_0-rmse:20.28344	validation_1-rmse:20.28344
[228]	validation_0-rmse:20.25974	validation_1-rmse:20.25974
[229]	validation_0-rmse:20.24399	validation_1-rmse:20.24399
[230]	validation_0-rmse:20.23345	validation_1-rmse:20.23345
[231]	validation_0-rmse:20.20560	validation_1-rmse:20.20560
[232]	validation_0-rmse:20.15942	validation_1-rmse:20.15942
[233]	validation_0-rmse:20.11144	validation_1-rmse:20.11144
[234]	validation_0-rmse:20.09199	validation_1-rmse:20.09199
[235]	validation_0-rmse:20.07761	validation_1-rmse:20.07761
[236]	validation_0-rmse:20.04853	validation_1-rmse:20.04853
[237]	validation_0-rmse:19.96865	validation_1-rmse:19.96865
[238]	validation_0-rmse:19.92506	validation_1-rmse:19.92506
[239]	validation_0-rmse:19.82974	validation_1-rmse:19.82974
[240]	validation_0-rmse:19.81124	validation_1-rmse:19.81124
[241]	validation_0-rmse:19.78163	validation_1-rmse:19.78163
[242]	validation_0-rmse:19.72837	validation_1-rmse:19.72837
[243]	validation_0-rmse:19.65123	validation_1-rmse:19.65123
[244]	validation_0-rmse:19.58005	validation_1-rmse:19.58005
[245]	validation_0-rmse:19.51675	validation_1-rmse:19.51675
[246]	validation_0-rmse:19.48847	validation_1-rmse:19.48847
[247]	validation_0-rmse:19.43837	validation_1-rmse:19.43837
[248]	validation_0-rmse:19.38579	validation_1-rmse:19.38579
[249]	validation_0-rmse:19.33756	validation_1-rmse:19.33756
[250]	validation_0-rmse:19.26727	validation_1-rmse:19.26727
[251]	validation_0-rmse:19.18356	validation_1-rmse:19.18356
[252]	validation_0-rmse:19.14988	validation_1-rmse:19.14988
[253]	validation_0-rmse:19.08994	validation_1-rmse:19.08994
[254]	validation_0-rmse:19.05232	validation_1-rmse:19.05232
[255]	validation_0-rmse:19.00463	validation_1-rmse:19.00463
[256]	validation_0-rmse:18.92366	validation_1-rmse:18.92366
[257]	validation_0-rmse:18.91084	validation_1-rmse:18.91084
[258]	validation_0-rmse:18.85657	validation_1-rmse:18.85657
[259]	validation_0-rmse:18.79261	validation_1-rmse:18.79261
[260]	validation_0-rmse:18.74603	validation_1-rmse:18.74603
[261]	validation_0-rmse:18.69925	validation_1-rmse:18.69925
[262]	validation_0-rmse:18.66107	validation_1-rmse:18.66107
[263]	validation_0-rmse:18.62762	validation_1-rmse:18.62762
[264]	validation_0-rmse:18.59964	validation_1-rmse:18.59964
[265]	validation_0-rmse:18.53637	validation_1-rmse:18.53637
[266]	validation_0-rmse:18.48117	validation_1-rmse:18.48117
[267]	validation_0-rmse:18.45031	validation_1-rmse:18.45031
[268]	validation_0-rmse:18.41152	validation_1-rmse:18.41152
[269]	validation_0-rmse:18.35819	validation_1-rmse:18.35819
[270]	validation_0-rmse:18.33665	validation_1-rmse:18.33665
[271]	validation_0-rmse:18.29888	validation_1-rmse:18.29888
[272]	validation_0-rmse:18.22006	validation_1-rmse:18.22006
[273]	validation_0-rmse:18.18260	validation_1-rmse:18.18260
[274]	validation_0-rmse:18.08763	validation_1-rmse:18.08763
[275]	validation_0-rmse:18.04264	validation_1-rmse:18.04264

[276]	validation_0-rmse:17.97560	validation_1-rmse:17.97560
[277]	validation_0-rmse:17.94337	validation_1-rmse:17.94337
[278]	validation_0-rmse:17.90333	validation_1-rmse:17.90333
[279]	validation_0-rmse:17.87598	validation_1-rmse:17.87598
[280]	validation_0-rmse:17.86683	validation_1-rmse:17.86683
[281]	validation_0-rmse:17.81053	validation_1-rmse:17.81053
[282]	validation_0-rmse:17.78661	validation_1-rmse:17.78661
[283]	validation_0-rmse:17.73762	validation_1-rmse:17.73762
[284]	validation_0-rmse:17.69905	validation_1-rmse:17.69905
[285]	validation_0-rmse:17.65825	validation_1-rmse:17.65825
[286]	validation_0-rmse:17.62127	validation_1-rmse:17.62127
[287]	validation_0-rmse:17.57835	validation_1-rmse:17.57835
[288]	validation_0-rmse:17.55159	validation_1-rmse:17.55159
[289]	validation_0-rmse:17.51862	validation_1-rmse:17.51862
[290]	validation_0-rmse:17.49425	validation_1-rmse:17.49425
[291]	validation_0-rmse:17.41598	validation_1-rmse:17.41598
[292]	validation_0-rmse:17.37363	validation_1-rmse:17.37363
[293]	validation_0-rmse:17.32825	validation_1-rmse:17.32825
[294]	validation_0-rmse:17.29284	validation_1-rmse:17.29284
[295]	validation_0-rmse:17.24755	validation_1-rmse:17.24755
[296]	validation_0-rmse:17.21483	validation_1-rmse:17.21483
[297]	validation_0-rmse:17.18321	validation_1-rmse:17.18321
[298]	validation_0-rmse:17.15788	validation_1-rmse:17.15788
[299]	validation_0-rmse:17.15053	validation_1-rmse:17.15053
[300]	validation_0-rmse:17.11360	validation_1-rmse:17.11360
[301]	validation_0-rmse:17.06597	validation_1-rmse:17.06597
[302]	validation_0-rmse:16.98630	validation_1-rmse:16.98630
[303]	validation_0-rmse:16.93462	validation_1-rmse:16.93462
[304]	validation_0-rmse:16.89477	validation_1-rmse:16.89477
[305]	validation_0-rmse:16.86764	validation_1-rmse:16.86764
[306]	validation_0-rmse:16.83732	validation_1-rmse:16.83732
[307]	validation_0-rmse:16.80339	validation_1-rmse:16.80339
[308]	validation_0-rmse:16.77676	validation_1-rmse:16.77676
[309]	validation_0-rmse:16.73992	validation_1-rmse:16.73992
[310]	validation_0-rmse:16.72555	validation_1-rmse:16.72555
[311]	validation_0-rmse:16.70191	validation_1-rmse:16.70191
[312]	validation_0-rmse:16.67578	validation_1-rmse:16.67578
[313]	validation_0-rmse:16.66214	validation_1-rmse:16.66214
[314]	validation_0-rmse:16.61288	validation_1-rmse:16.61288
[315]	validation_0-rmse:16.58335	validation_1-rmse:16.58335
[316]	validation_0-rmse:16.55733	validation_1-rmse:16.55733
[317]	validation_0-rmse:16.53180	validation_1-rmse:16.53180
[318]	validation_0-rmse:16.50491	validation_1-rmse:16.50491
[319]	validation_0-rmse:16.47858	validation_1-rmse:16.47858
[320]	validation_0-rmse:16.42334	validation_1-rmse:16.42334
[321]	validation_0-rmse:16.38597	validation_1-rmse:16.38597
[322]	validation_0-rmse:16.35154	validation_1-rmse:16.35154
[323]	validation_0-rmse:16.31601	validation_1-rmse:16.31601
[324]	validation_0-rmse:16.30166	validation_1-rmse:16.30166
[325]	validation_0-rmse:16.27787	validation_1-rmse:16.27787
[326]	validation_0-rmse:16.24036	validation_1-rmse:16.24036
[327]	validation_0-rmse:16.21621	validation_1-rmse:16.21621
[328]	validation_0-rmse:16.19987	validation_1-rmse:16.19987
[329]	validation_0-rmse:16.19451	validation_1-rmse:16.19451
[330]	validation_0-rmse:16.17127	validation_1-rmse:16.17127
[331]	validation_0-rmse:16.15305	validation_1-rmse:16.15305
[332]	validation_0-rmse:16.10549	validation_1-rmse:16.10549
[333]	validation_0-rmse:16.07586	validation_1-rmse:16.07586
[334]	validation_0-rmse:16.06601	validation_1-rmse:16.06601
[335]	validation_0-rmse:16.05481	validation_1-rmse:16.05481
[336]	validation_0-rmse:16.03768	validation_1-rmse:16.03768
[337]	validation_0-rmse:15.99759	validation_1-rmse:15.99759
[338]	validation_0-rmse:15.97889	validation_1-rmse:15.97889
[339]	validation_0-rmse:15.94837	validation_1-rmse:15.94837
[340]	validation_0-rmse:15.90092	validation_1-rmse:15.90092
[341]	validation_0-rmse:15.87705	validation_1-rmse:15.87705
[342]	validation_0-rmse:15.85914	validation_1-rmse:15.85914
[343]	validation_0-rmse:15.81918	validation_1-rmse:15.81918
[344]	validation_0-rmse:15.79011	validation_1-rmse:15.79011
[345]	validation_0-rmse:15.75930	validation_1-rmse:15.75930
[346]	validation_0-rmse:15.71481	validation_1-rmse:15.71481
[347]	validation_0-rmse:15.68690	validation_1-rmse:15.68690
[348]	validation_0-rmse:15.66480	validation_1-rmse:15.66480
[349]	validation_0-rmse:15.64363	validation_1-rmse:15.64363
[350]	validation_0-rmse:15.60186	validation_1-rmse:15.60186
[351]	validation_0-rmse:15.57499	validation_1-rmse:15.57499
[352]	validation_0-rmse:15.55759	validation_1-rmse:15.55759
[353]	validation_0-rmse:15.54592	validation_1-rmse:15.54592
[354]	validation_0-rmse:15.53764	validation_1-rmse:15.53764
[355]	validation_0-rmse:15.50657	validation_1-rmse:15.50657
[356]	validation_0-rmse:15.47063	validation_1-rmse:15.47063
[357]	validation_0-rmse:15.44837	validation_1-rmse:15.44837
[358]	validation_0-rmse:15.43175	validation_1-rmse:15.43175
[359]	validation_0-rmse:15.41439	validation_1-rmse:15.41439
[360]	validation_0-rmse:15.36599	validation_1-rmse:15.36599
[361]	validation_0-rmse:15.34146	validation_1-rmse:15.34146
[362]	validation_0-rmse:15.30961	validation_1-rmse:15.30961
[363]	validation_0-rmse:15.29345	validation_1-rmse:15.29345
[364]	validation_0-rmse:15.26070	validation_1-rmse:15.26070
[365]	validation_0-rmse:15.25032	validation_1-rmse:15.25032
[366]	validation_0-rmse:15.22703	validation_1-rmse:15.22703
[367]	validation_0-rmse:15.18454	validation_1-rmse:15.18454
[368]	validation_0-rmse:15.17776	validation_1-rmse:15.17776
[369]	validation_0-rmse:15.14248	validation_1-rmse:15.14248
[370]	validation_0-rmse:15.11535	validation_1-rmse:15.11535
[371]	validation_0-rmse:15.07290	validation_1-rmse:15.07290
[372]	validation_0-rmse:15.05585	validation_1-rmse:15.05585
[373]	validation_0-rmse:15.04161	validation_1-rmse:15.04161
[374]	validation_0-rmse:15.00764	validation_1-rmse:15.00764
[375]	validation_0-rmse:14.99191	validation_1-rmse:14.99191
[376]	validation_0-rmse:14.97336	validation_1-rmse:14.97336
[377]	validation_0-rmse:14.95436	validation_1-rmse:14.95436
[378]	validation_0-rmse:14.93260	validation_1-rmse:14.93260
[379]	validation_0-rmse:14.89508	validation_1-rmse:14.89508
[380]	validation_0-rmse:14.87080	validation_1-rmse:14.87080
[381]	validation_0-rmse:14.85644	validation_1-rmse:14.85644
[382]	validation_0-rmse:14.82583	validation_1-rmse:14.82583
[383]	validation_0-rmse:14.77897	validation_1-rmse:14.77897
[384]	validation_0-rmse:14.73829	validation_1-rmse:14.73829
[385]	validation_0-rmse:14.71655	validation_1-rmse:14.71655
[386]	validation_0-rmse:14.69820	validation_1-rmse:14.69820
[387]	validation_0-rmse:14.68370	validation_1-rmse:14.68370
[388]	validation_0-rmse:14.65238	validation_1-rmse:14.65238
[389]	validation_0-rmse:14.63935	validation_1-rmse:14.63935
[390]	validation_0-rmse:14.61049	validation_1-rmse:14.61049
[391]	validation_0-rmse:14.59190	validation_1-rmse:14.59190
[392]	validation_0-rmse:14.58248	validation_1-rmse:14.58248
[393]	validation_0-rmse:14.54920	validation_1-rmse:14.54920
[394]	validation_0-rmse:14.51302	validation_1-rmse:14.51302
[395]	validation_0-rmse:14.48468	validation_1-rmse:14.48468
[396]	validation_0-rmse:14.47145	validation_1-rmse:14.47145
[397]	validation_0-rmse:14.45775	validation_1-rmse:14.45775
[398]	validation_0-rmse:14.42868	validation_1-rmse:14.42868
[399]	validation_0-rmse:14.39718	validation_1-rmse:14.39718
[400]	validation_0-rmse:14.36356	validation_1-rmse:14.36356
[401]	validation_0-rmse:14.31411	validation_1-rmse:14.31411
[402]	validation_0-rmse:14.29414	validation_1-rmse:14.29414
[403]	validation_0-rmse:14.26113	validation_1-rmse:14.26113
[404]	validation_0-rmse:14.23245	validation_1-rmse:14.23245
[405]	validation_0-rmse:14.21044	validation_1-rmse:14.21044
[406]	validation_0-rmse:14.20307	validation_1-rmse:14.20307
[407]	validation_0-rmse:14.16249	validation_1-rmse:14.16249
[408]	validation_0-rmse:14.13585	validation_1-rmse:14.13585
[409]	validation_0-rmse:14.11688	validation_1-rmse:14.11688
[410]	validation_0-rmse:14.09310	validation_1-rmse:14.09310
[411]	validation_0-rmse:14.08960	validation_1-rmse:14.08960
[412]	validation_0-rmse:14.08092	validation_1-rmse:14.08092

[413]	validation_0-rmse:14.06396	validation_1-rmse:14.06396
[414]	validation_0-rmse:14.04629	validation_1-rmse:14.04629
[415]	validation_0-rmse:14.03140	validation_1-rmse:14.03140
[416]	validation_0-rmse:14.01651	validation_1-rmse:14.01651
[417]	validation_0-rmse:13.98788	validation_1-rmse:13.98788
[418]	validation_0-rmse:13.97853	validation_1-rmse:13.97853
[419]	validation_0-rmse:13.95724	validation_1-rmse:13.95724
[420]	validation_0-rmse:13.92092	validation_1-rmse:13.92092
[421]	validation_0-rmse:13.89662	validation_1-rmse:13.89662
[422]	validation_0-rmse:13.85955	validation_1-rmse:13.85955
[423]	validation_0-rmse:13.84140	validation_1-rmse:13.84140
[424]	validation_0-rmse:13.81080	validation_1-rmse:13.81080
[425]	validation_0-rmse:13.77926	validation_1-rmse:13.77926
[426]	validation_0-rmse:13.75859	validation_1-rmse:13.75859
[427]	validation_0-rmse:13.75249	validation_1-rmse:13.75249
[428]	validation_0-rmse:13.73966	validation_1-rmse:13.73966
[429]	validation_0-rmse:13.72736	validation_1-rmse:13.72736
[430]	validation_0-rmse:13.70435	validation_1-rmse:13.70435
[431]	validation_0-rmse:13.67694	validation_1-rmse:13.67694
[432]	validation_0-rmse:13.65045	validation_1-rmse:13.65045
[433]	validation_0-rmse:13.62888	validation_1-rmse:13.62888
[434]	validation_0-rmse:13.60798	validation_1-rmse:13.60798
[435]	validation_0-rmse:13.59964	validation_1-rmse:13.59964
[436]	validation_0-rmse:13.58978	validation_1-rmse:13.58978
[437]	validation_0-rmse:13.58037	validation_1-rmse:13.58037
[438]	validation_0-rmse:13.56306	validation_1-rmse:13.56306
[439]	validation_0-rmse:13.54358	validation_1-rmse:13.54358
[440]	validation_0-rmse:13.51323	validation_1-rmse:13.51323
[441]	validation_0-rmse:13.47667	validation_1-rmse:13.47667
[442]	validation_0-rmse:13.46565	validation_1-rmse:13.46565
[443]	validation_0-rmse:13.45083	validation_1-rmse:13.45083
[444]	validation_0-rmse:13.41935	validation_1-rmse:13.41935
[445]	validation_0-rmse:13.39287	validation_1-rmse:13.39287
[446]	validation_0-rmse:13.38201	validation_1-rmse:13.38201
[447]	validation_0-rmse:13.37098	validation_1-rmse:13.37098
[448]	validation_0-rmse:13.35883	validation_1-rmse:13.35883
[449]	validation_0-rmse:13.33957	validation_1-rmse:13.33957
[450]	validation_0-rmse:13.32897	validation_1-rmse:13.32897
[451]	validation_0-rmse:13.30221	validation_1-rmse:13.30221
[452]	validation_0-rmse:13.26961	validation_1-rmse:13.26961
[453]	validation_0-rmse:13.25963	validation_1-rmse:13.25963
[454]	validation_0-rmse:13.21991	validation_1-rmse:13.21991
[455]	validation_0-rmse:13.19627	validation_1-rmse:13.19627
[456]	validation_0-rmse:13.17115	validation_1-rmse:13.17115
[457]	validation_0-rmse:13.15754	validation_1-rmse:13.15754
[458]	validation_0-rmse:13.13781	validation_1-rmse:13.13781
[459]	validation_0-rmse:13.10315	validation_1-rmse:13.10315
[460]	validation_0-rmse:13.07725	validation_1-rmse:13.07725
[461]	validation_0-rmse:13.06062	validation_1-rmse:13.06062
[462]	validation_0-rmse:13.05716	validation_1-rmse:13.05716
[463]	validation_0-rmse:13.02922	validation_1-rmse:13.02922
[464]	validation_0-rmse:13.01724	validation_1-rmse:13.01724
[465]	validation_0-rmse:13.00349	validation_1-rmse:13.00349
[466]	validation_0-rmse:12.97461	validation_1-rmse:12.97461
[467]	validation_0-rmse:12.95317	validation_1-rmse:12.95317
[468]	validation_0-rmse:12.93783	validation_1-rmse:12.93783
[469]	validation_0-rmse:12.92108	validation_1-rmse:12.92108
[470]	validation_0-rmse:12.90456	validation_1-rmse:12.90456
[471]	validation_0-rmse:12.87693	validation_1-rmse:12.87693
[472]	validation_0-rmse:12.85592	validation_1-rmse:12.85592
[473]	validation_0-rmse:12.82684	validation_1-rmse:12.82684
[474]	validation_0-rmse:12.81535	validation_1-rmse:12.81535
[475]	validation_0-rmse:12.79749	validation_1-rmse:12.79749
[476]	validation_0-rmse:12.79035	validation_1-rmse:12.79035
[477]	validation_0-rmse:12.76865	validation_1-rmse:12.76865
[478]	validation_0-rmse:12.75862	validation_1-rmse:12.75862
[479]	validation_0-rmse:12.74051	validation_1-rmse:12.74051
[480]	validation_0-rmse:12.72287	validation_1-rmse:12.72287
[481]	validation_0-rmse:12.71492	validation_1-rmse:12.71492
[482]	validation_0-rmse:12.68965	validation_1-rmse:12.68965
[483]	validation_0-rmse:12.68136	validation_1-rmse:12.68136
[484]	validation_0-rmse:12.66578	validation_1-rmse:12.66578
[485]	validation_0-rmse:12.65411	validation_1-rmse:12.65411
[486]	validation_0-rmse:12.62060	validation_1-rmse:12.62060
[487]	validation_0-rmse:12.59765	validation_1-rmse:12.59765
[488]	validation_0-rmse:12.58903	validation_1-rmse:12.58903
[489]	validation_0-rmse:12.57834	validation_1-rmse:12.57834
[490]	validation_0-rmse:12.55987	validation_1-rmse:12.55987
[491]	validation_0-rmse:12.54197	validation_1-rmse:12.54197
[492]	validation_0-rmse:12.53182	validation_1-rmse:12.53182
[493]	validation_0-rmse:12.51623	validation_1-rmse:12.51623
[494]	validation_0-rmse:12.50604	validation_1-rmse:12.50604
[495]	validation_0-rmse:12.49137	validation_1-rmse:12.49137
[496]	validation_0-rmse:12.47432	validation_1-rmse:12.47432
[497]	validation_0-rmse:12.46708	validation_1-rmse:12.46708
[498]	validation_0-rmse:12.44429	validation_1-rmse:12.44429
[499]	validation_0-rmse:12.43335	validation_1-rmse:12.43335
[500]	validation_0-rmse:12.40646	validation_1-rmse:12.40646
[501]	validation_0-rmse:12.39006	validation_1-rmse:12.39006
[502]	validation_0-rmse:12.37494	validation_1-rmse:12.37494
[503]	validation_0-rmse:12.35566	validation_1-rmse:12.35566
[504]	validation_0-rmse:12.34238	validation_1-rmse:12.34238
[505]	validation_0-rmse:12.31043	validation_1-rmse:12.31043
[506]	validation_0-rmse:12.29674	validation_1-rmse:12.29674
[507]	validation_0-rmse:12.27467	validation_1-rmse:12.27467
[508]	validation_0-rmse:12.24577	validation_1-rmse:12.24577
[509]	validation_0-rmse:12.22554	validation_1-rmse:12.22554
[510]	validation_0-rmse:12.21737	validation_1-rmse:12.21737
[511]	validation_0-rmse:12.19761	validation_1-rmse:12.19761
[512]	validation_0-rmse:12.18301	validation_1-rmse:12.18301
[513]	validation_0-rmse:12.17691	validation_1-rmse:12.17691
[514]	validation_0-rmse:12.16143	validation_1-rmse:12.16143
[515]	validation_0-rmse:12.14746	validation_1-rmse:12.14746
[516]	validation_0-rmse:12.12031	validation_1-rmse:12.12031
[517]	validation_0-rmse:12.09913	validation_1-rmse:12.09913
[518]	validation_0-rmse:12.08102	validation_1-rmse:12.08102
[519]	validation_0-rmse:12.07048	validation_1-rmse:12.07048
[520]	validation_0-rmse:12.04970	validation_1-rmse:12.04970
[521]	validation_0-rmse:12.02850	validation_1-rmse:12.02850
[522]	validation_0-rmse:12.01012	validation_1-rmse:12.01012
[523]	validation_0-rmse:11.97706	validation_1-rmse:11.97706
[524]	validation_0-rmse:11.96107	validation_1-rmse:11.96107
[525]	validation_0-rmse:11.94984	validation_1-rmse:11.94984
[526]	validation_0-rmse:11.93135	validation_1-rmse:11.93135
[527]	validation_0-rmse:11.91714	validation_1-rmse:11.91714
[528]	validation_0-rmse:11.90124	validation_1-rmse:11.90124
[529]	validation_0-rmse:11.88528	validation_1-rmse:11.88528
[530]	validation_0-rmse:11.87435	validation_1-rmse:11.87435
[531]	validation_0-rmse:11.85881	validation_1-rmse:11.85881
[532]	validation_0-rmse:11.83564	validation_1-rmse:11.83564
[533]	validation_0-rmse:11.81932	validation_1-rmse:11.81932
[534]	validation_0-rmse:11.81011	validation_1-rmse:11.81011
[535]	validation_0-rmse:11.77775	validation_1-rmse:11.77775
[536]	validation_0-rmse:11.76005	validation_1-rmse:11.76005
[537]	validation_0-rmse:11.74058	validation_1-rmse:11.74058
[538]	validation_0-rmse:11.72701	validation_1-rmse:11.72701
[539]	validation_0-rmse:11.70040	validation_1-rmse:11.70040
[540]	validation_0-rmse:11.67953	validation_1-rmse:11.67953
[541]	validation_0-rmse:11.65316	validation_1-rmse:11.65316
[542]	validation_0-rmse:11.63294	validation_1-rmse:11.63294
[543]	validation_0-rmse:11.61909	validation_1-rmse:11.61909
[544]	validation_0-rmse:11.60721	validation_1-rmse:11.60721
[545]	validation_0-rmse:11.59942	validation_1-rmse:11.59942
[546]	validation_0-rmse:11.58627	validation_1-rmse:11.58627
[547]	validation_0-rmse:11.56950	validation_1-rmse:11.56950
[548]	validation_0-rmse:11.55593	validation_1-rmse:11.55593
[549]	validation_0-rmse:11.54273	validation_1-rmse:11.54273

[550]	validation_0-rmse:11.53365	validation_1-rmse:11.53365
[551]	validation_0-rmse:11.52386	validation_1-rmse:11.52386
[552]	validation_0-rmse:11.50029	validation_1-rmse:11.50029
[553]	validation_0-rmse:11.49220	validation_1-rmse:11.49220
[554]	validation_0-rmse:11.48034	validation_1-rmse:11.48034
[555]	validation_0-rmse:11.47490	validation_1-rmse:11.47490
[556]	validation_0-rmse:11.45888	validation_1-rmse:11.45888
[557]	validation_0-rmse:11.44837	validation_1-rmse:11.44837
[558]	validation_0-rmse:11.43366	validation_1-rmse:11.43366
[559]	validation_0-rmse:11.40667	validation_1-rmse:11.40667
[560]	validation_0-rmse:11.39527	validation_1-rmse:11.39527
[561]	validation_0-rmse:11.37547	validation_1-rmse:11.37547
[562]	validation_0-rmse:11.36909	validation_1-rmse:11.36909
[563]	validation_0-rmse:11.35237	validation_1-rmse:11.35237
[564]	validation_0-rmse:11.34827	validation_1-rmse:11.34827
[565]	validation_0-rmse:11.33262	validation_1-rmse:11.33262
[566]	validation_0-rmse:11.32932	validation_1-rmse:11.32932
[567]	validation_0-rmse:11.32001	validation_1-rmse:11.32001
[568]	validation_0-rmse:11.29970	validation_1-rmse:11.29970
[569]	validation_0-rmse:11.28181	validation_1-rmse:11.28181
[570]	validation_0-rmse:11.26850	validation_1-rmse:11.26850
[571]	validation_0-rmse:11.25009	validation_1-rmse:11.25009
[572]	validation_0-rmse:11.24540	validation_1-rmse:11.24540
[573]	validation_0-rmse:11.24119	validation_1-rmse:11.24119
[574]	validation_0-rmse:11.21165	validation_1-rmse:11.21165
[575]	validation_0-rmse:11.19566	validation_1-rmse:11.19566
[576]	validation_0-rmse:11.18631	validation_1-rmse:11.18631
[577]	validation_0-rmse:11.15787	validation_1-rmse:11.15787
[578]	validation_0-rmse:11.14270	validation_1-rmse:11.14270
[579]	validation_0-rmse:11.12848	validation_1-rmse:11.12848
[580]	validation_0-rmse:11.11182	validation_1-rmse:11.11182
[581]	validation_0-rmse:11.10154	validation_1-rmse:11.10154
[582]	validation_0-rmse:11.08635	validation_1-rmse:11.08635
[583]	validation_0-rmse:11.07129	validation_1-rmse:11.07129
[584]	validation_0-rmse:11.05846	validation_1-rmse:11.05846
[585]	validation_0-rmse:11.04361	validation_1-rmse:11.04361
[586]	validation_0-rmse:11.02698	validation_1-rmse:11.02698
[587]	validation_0-rmse:11.01617	validation_1-rmse:11.01617
[588]	validation_0-rmse:11.00504	validation_1-rmse:11.00504
[589]	validation_0-rmse:10.99280	validation_1-rmse:10.99280
[590]	validation_0-rmse:10.97659	validation_1-rmse:10.97659
[591]	validation_0-rmse:10.95371	validation_1-rmse:10.95371
[592]	validation_0-rmse:10.92996	validation_1-rmse:10.92996
[593]	validation_0-rmse:10.91999	validation_1-rmse:10.91999
[594]	validation_0-rmse:10.91405	validation_1-rmse:10.91405
[595]	validation_0-rmse:10.89646	validation_1-rmse:10.89646
[596]	validation_0-rmse:10.87907	validation_1-rmse:10.87907
[597]	validation_0-rmse:10.86090	validation_1-rmse:10.86090
[598]	validation_0-rmse:10.84674	validation_1-rmse:10.84674
[599]	validation_0-rmse:10.83107	validation_1-rmse:10.83107
[600]	validation_0-rmse:10.81910	validation_1-rmse:10.81910
[601]	validation_0-rmse:10.80648	validation_1-rmse:10.80648
[602]	validation_0-rmse:10.78865	validation_1-rmse:10.78865
[603]	validation_0-rmse:10.77778	validation_1-rmse:10.77778
[604]	validation_0-rmse:10.75966	validation_1-rmse:10.75966
[605]	validation_0-rmse:10.74646	validation_1-rmse:10.74646
[606]	validation_0-rmse:10.73498	validation_1-rmse:10.73498
[607]	validation_0-rmse:10.72993	validation_1-rmse:10.72993
[608]	validation_0-rmse:10.71851	validation_1-rmse:10.71851
[609]	validation_0-rmse:10.71261	validation_1-rmse:10.71261
[610]	validation_0-rmse:10.70046	validation_1-rmse:10.70046
[611]	validation_0-rmse:10.68140	validation_1-rmse:10.68140
[612]	validation_0-rmse:10.65858	validation_1-rmse:10.65858
[613]	validation_0-rmse:10.64798	validation_1-rmse:10.64798
[614]	validation_0-rmse:10.63608	validation_1-rmse:10.63608
[615]	validation_0-rmse:10.63168	validation_1-rmse:10.63168
[616]	validation_0-rmse:10.61813	validation_1-rmse:10.61813
[617]	validation_0-rmse:10.60605	validation_1-rmse:10.60605
[618]	validation_0-rmse:10.59476	validation_1-rmse:10.59476
[619]	validation_0-rmse:10.58905	validation_1-rmse:10.58905
[620]	validation_0-rmse:10.58749	validation_1-rmse:10.58749
[621]	validation_0-rmse:10.57554	validation_1-rmse:10.57554
[622]	validation_0-rmse:10.56855	validation_1-rmse:10.56855
[623]	validation_0-rmse:10.56184	validation_1-rmse:10.56184
[624]	validation_0-rmse:10.55573	validation_1-rmse:10.55573
[625]	validation_0-rmse:10.53831	validation_1-rmse:10.53831
[626]	validation_0-rmse:10.50797	validation_1-rmse:10.50797
[627]	validation_0-rmse:10.48968	validation_1-rmse:10.48968
[628]	validation_0-rmse:10.47776	validation_1-rmse:10.47776
[629]	validation_0-rmse:10.47085	validation_1-rmse:10.47085
[630]	validation_0-rmse:10.46567	validation_1-rmse:10.46567
[631]	validation_0-rmse:10.45299	validation_1-rmse:10.45299
[632]	validation_0-rmse:10.44126	validation_1-rmse:10.44126
[633]	validation_0-rmse:10.43455	validation_1-rmse:10.43455
[634]	validation_0-rmse:10.41987	validation_1-rmse:10.41987
[635]	validation_0-rmse:10.40897	validation_1-rmse:10.40897
[636]	validation_0-rmse:10.40476	validation_1-rmse:10.40476
[637]	validation_0-rmse:10.39725	validation_1-rmse:10.39725
[638]	validation_0-rmse:10.38334	validation_1-rmse:10.38334
[639]	validation_0-rmse:10.36657	validation_1-rmse:10.36657
[640]	validation_0-rmse:10.35866	validation_1-rmse:10.35866
[641]	validation_0-rmse:10.35653	validation_1-rmse:10.35653
[642]	validation_0-rmse:10.34879	validation_1-rmse:10.34879
[643]	validation_0-rmse:10.34578	validation_1-rmse:10.34578
[644]	validation_0-rmse:10.34446	validation_1-rmse:10.34446
[645]	validation_0-rmse:10.33609	validation_1-rmse:10.33609
[646]	validation_0-rmse:10.32835	validation_1-rmse:10.32835
[647]	validation_0-rmse:10.32019	validation_1-rmse:10.32019
[648]	validation_0-rmse:10.31634	validation_1-rmse:10.31634
[649]	validation_0-rmse:10.30342	validation_1-rmse:10.30342
[650]	validation_0-rmse:10.29335	validation_1-rmse:10.29335
[651]	validation_0-rmse:10.27790	validation_1-rmse:10.27790
[652]	validation_0-rmse:10.26579	validation_1-rmse:10.26579
[653]	validation_0-rmse:10.25872	validation_1-rmse:10.25872
[654]	validation_0-rmse:10.25197	validation_1-rmse:10.25197
[655]	validation_0-rmse:10.23615	validation_1-rmse:10.23615
[656]	validation_0-rmse:10.22873	validation_1-rmse:10.22873
[657]	validation_0-rmse:10.21380	validation_1-rmse:10.21380
[658]	validation_0-rmse:10.20656	validation_1-rmse:10.20656
[659]	validation_0-rmse:10.19336	validation_1-rmse:10.19336
[660]	validation_0-rmse:10.18015	validation_1-rmse:10.18015
[661]	validation_0-rmse:10.17478	validation_1-rmse:10.17478
[662]	validation_0-rmse:10.16384	validation_1-rmse:10.16384
[663]	validation_0-rmse:10.15665	validation_1-rmse:10.15665
[664]	validation_0-rmse:10.15045	validation_1-rmse:10.15045
[665]	validation_0-rmse:10.13703	validation_1-rmse:10.13703
[666]	validation_0-rmse:10.13164	validation_1-rmse:10.13164
[667]	validation_0-rmse:10.12117	validation_1-rmse:10.12117
[668]	validation_0-rmse:10.10375	validation_1-rmse:10.10375
[669]	validation_0-rmse:10.09461	validation_1-rmse:10.09461
[670]	validation_0-rmse:10.08100	validation_1-rmse:10.08100
[671]	validation_0-rmse:10.06049	validation_1-rmse:10.06049
[672]	validation_0-rmse:10.04956	validation_1-rmse:10.04956
[673]	validation_0-rmse:10.03950	validation_1-rmse:10.03950
[674]	validation_0-rmse:10.02437	validation_1-rmse:10.02437
[675]	validation_0-rmse:9.99914	validation_1-rmse:9.99914
[676]	validation_0-rmse:9.98878	validation_1-rmse:9.98878
[677]	validation_0-rmse:9.97005	validation_1-rmse:9.97005
[678]	validation_0-rmse:9.96287	validation_1-rmse:9.96287
[679]	validation_0-rmse:9.95389	validation_1-rmse:9.95389
[680]	validation_0-rmse:9.93785	validation_1-rmse:9.93785
[681]	validation_0-rmse:9.92968	validation_1-rmse:9.92968
[682]	validation_0-rmse:9.91034	validation_1-rmse:9.91034
[683]	validation_0-rmse:9.89800	validation_1-rmse:9.89800
[684]	validation_0-rmse:9.88120	validation_1-rmse:9.88120
[685]	validation_0-rmse:9.87351	validation_1-rmse:9.87351
[686]	validation_0-rmse:9.87203	validation_1-rmse:9.87203

[687]	validation_0-rmse:9.87099	validation_1-rmse:9.87099
[688]	validation_0-rmse:9.85133	validation_1-rmse:9.85133
[689]	validation_0-rmse:9.84494	validation_1-rmse:9.84494
[690]	validation_0-rmse:9.83019	validation_1-rmse:9.83019
[691]	validation_0-rmse:9.81479	validation_1-rmse:9.81479
[692]	validation_0-rmse:9.80825	validation_1-rmse:9.80825
[693]	validation_0-rmse:9.79250	validation_1-rmse:9.79250
[694]	validation_0-rmse:9.78111	validation_1-rmse:9.78111
[695]	validation_0-rmse:9.76174	validation_1-rmse:9.76174
[696]	validation_0-rmse:9.74791	validation_1-rmse:9.74791
[697]	validation_0-rmse:9.74071	validation_1-rmse:9.74071
[698]	validation_0-rmse:9.72792	validation_1-rmse:9.72792
[699]	validation_0-rmse:9.72681	validation_1-rmse:9.72681
[700]	validation_0-rmse:9.71370	validation_1-rmse:9.71370
[701]	validation_0-rmse:9.70019	validation_1-rmse:9.70019
[702]	validation_0-rmse:9.68450	validation_1-rmse:9.68450
[703]	validation_0-rmse:9.67952	validation_1-rmse:9.67952
[704]	validation_0-rmse:9.67570	validation_1-rmse:9.67570
[705]	validation_0-rmse:9.66674	validation_1-rmse:9.66674
[706]	validation_0-rmse:9.65710	validation_1-rmse:9.65710
[707]	validation_0-rmse:9.64994	validation_1-rmse:9.64994
[708]	validation_0-rmse:9.64309	validation_1-rmse:9.64309
[709]	validation_0-rmse:9.62984	validation_1-rmse:9.62984
[710]	validation_0-rmse:9.62781	validation_1-rmse:9.62781
[711]	validation_0-rmse:9.61844	validation_1-rmse:9.61844
[712]	validation_0-rmse:9.61359	validation_1-rmse:9.61359
[713]	validation_0-rmse:9.60715	validation_1-rmse:9.60715
[714]	validation_0-rmse:9.59812	validation_1-rmse:9.59812
[715]	validation_0-rmse:9.59410	validation_1-rmse:9.59410
[716]	validation_0-rmse:9.58545	validation_1-rmse:9.58545
[717]	validation_0-rmse:9.57173	validation_1-rmse:9.57173
[718]	validation_0-rmse:9.56305	validation_1-rmse:9.56305
[719]	validation_0-rmse:9.55017	validation_1-rmse:9.55017
[720]	validation_0-rmse:9.54299	validation_1-rmse:9.54299
[721]	validation_0-rmse:9.52795	validation_1-rmse:9.52795
[722]	validation_0-rmse:9.52103	validation_1-rmse:9.52103
[723]	validation_0-rmse:9.50963	validation_1-rmse:9.50963
[724]	validation_0-rmse:9.49730	validation_1-rmse:9.49730
[725]	validation_0-rmse:9.48221	validation_1-rmse:9.48221
[726]	validation_0-rmse:9.47653	validation_1-rmse:9.47653
[727]	validation_0-rmse:9.47180	validation_1-rmse:9.47180
[728]	validation_0-rmse:9.45701	validation_1-rmse:9.45701
[729]	validation_0-rmse:9.45087	validation_1-rmse:9.45087
[730]	validation_0-rmse:9.43638	validation_1-rmse:9.43638
[731]	validation_0-rmse:9.42862	validation_1-rmse:9.42862
[732]	validation_0-rmse:9.42118	validation_1-rmse:9.42118
[733]	validation_0-rmse:9.41339	validation_1-rmse:9.41339
[734]	validation_0-rmse:9.40517	validation_1-rmse:9.40517
[735]	validation_0-rmse:9.39338	validation_1-rmse:9.39338
[736]	validation_0-rmse:9.38580	validation_1-rmse:9.38580
[737]	validation_0-rmse:9.38056	validation_1-rmse:9.38056
[738]	validation_0-rmse:9.37308	validation_1-rmse:9.37308
[739]	validation_0-rmse:9.36764	validation_1-rmse:9.36764
[740]	validation_0-rmse:9.35759	validation_1-rmse:9.35759
[741]	validation_0-rmse:9.35203	validation_1-rmse:9.35203
[742]	validation_0-rmse:9.33853	validation_1-rmse:9.33853
[743]	validation_0-rmse:9.32572	validation_1-rmse:9.32572
[744]	validation_0-rmse:9.31714	validation_1-rmse:9.31714
[745]	validation_0-rmse:9.31131	validation_1-rmse:9.31131
[746]	validation_0-rmse:9.29551	validation_1-rmse:9.29551
[747]	validation_0-rmse:9.28436	validation_1-rmse:9.28436
[748]	validation_0-rmse:9.27245	validation_1-rmse:9.27245
[749]	validation_0-rmse:9.26689	validation_1-rmse:9.26689
[750]	validation_0-rmse:9.25876	validation_1-rmse:9.25876
[751]	validation_0-rmse:9.24787	validation_1-rmse:9.24787
[752]	validation_0-rmse:9.23674	validation_1-rmse:9.23674
[753]	validation_0-rmse:9.22860	validation_1-rmse:9.22860
[754]	validation_0-rmse:9.21763	validation_1-rmse:9.21763
[755]	validation_0-rmse:9.20414	validation_1-rmse:9.20414
[756]	validation_0-rmse:9.19473	validation_1-rmse:9.19473
[757]	validation_0-rmse:9.18597	validation_1-rmse:9.18597
[758]	validation_0-rmse:9.17697	validation_1-rmse:9.17697
[759]	validation_0-rmse:9.16999	validation_1-rmse:9.16999
[760]	validation_0-rmse:9.16293	validation_1-rmse:9.16293
[761]	validation_0-rmse:9.15751	validation_1-rmse:9.15751
[762]	validation_0-rmse:9.15424	validation_1-rmse:9.15424
[763]	validation_0-rmse:9.14455	validation_1-rmse:9.14455
[764]	validation_0-rmse:9.13617	validation_1-rmse:9.13617
[765]	validation_0-rmse:9.13294	validation_1-rmse:9.13294
[766]	validation_0-rmse:9.12407	validation_1-rmse:9.12407
[767]	validation_0-rmse:9.11919	validation_1-rmse:9.11919
[768]	validation_0-rmse:9.10982	validation_1-rmse:9.10982
[769]	validation_0-rmse:9.10546	validation_1-rmse:9.10546
[770]	validation_0-rmse:9.09502	validation_1-rmse:9.09502
[771]	validation_0-rmse:9.08405	validation_1-rmse:9.08405
[772]	validation_0-rmse:9.07396	validation_1-rmse:9.07396
[773]	validation_0-rmse:9.06500	validation_1-rmse:9.06500
[774]	validation_0-rmse:9.05513	validation_1-rmse:9.05513
[775]	validation_0-rmse:9.04645	validation_1-rmse:9.04645
[776]	validation_0-rmse:9.03226	validation_1-rmse:9.03226
[777]	validation_0-rmse:9.02162	validation_1-rmse:9.02162
[778]	validation_0-rmse:9.01358	validation_1-rmse:9.01358
[779]	validation_0-rmse:8.99370	validation_1-rmse:8.99370
[780]	validation_0-rmse:8.99060	validation_1-rmse:8.99060
[781]	validation_0-rmse:8.98305	validation_1-rmse:8.98305
[782]	validation_0-rmse:8.98146	validation_1-rmse:8.98146
[783]	validation_0-rmse:8.96816	validation_1-rmse:8.96816
[784]	validation_0-rmse:8.96058	validation_1-rmse:8.96058
[785]	validation_0-rmse:8.95160	validation_1-rmse:8.95160
[786]	validation_0-rmse:8.93494	validation_1-rmse:8.93494
[787]	validation_0-rmse:8.92639	validation_1-rmse:8.92639
[788]	validation_0-rmse:8.92129	validation_1-rmse:8.92129
[789]	validation_0-rmse:8.91203	validation_1-rmse:8.91203
[790]	validation_0-rmse:8.89637	validation_1-rmse:8.89637
[791]	validation_0-rmse:8.88694	validation_1-rmse:8.88694
[792]	validation_0-rmse:8.88144	validation_1-rmse:8.88144
[793]	validation_0-rmse:8.87062	validation_1-rmse:8.87062
[794]	validation_0-rmse:8.85520	validation_1-rmse:8.85520
[795]	validation_0-rmse:8.84984	validation_1-rmse:8.84984
[796]	validation_0-rmse:8.84046	validation_1-rmse:8.84046
[797]	validation_0-rmse:8.83403	validation_1-rmse:8.83403
[798]	validation_0-rmse:8.82295	validation_1-rmse:8.82295
[799]	validation_0-rmse:8.81619	validation_1-rmse:8.81619
[800]	validation_0-rmse:8.80362	validation_1-rmse:8.80362
[801]	validation_0-rmse:8.80339	validation_1-rmse:8.80339
[802]	validation_0-rmse:8.79540	validation_1-rmse:8.79540
[803]	validation_0-rmse:8.78979	validation_1-rmse:8.78979
[804]	validation_0-rmse:8.78144	validation_1-rmse:8.78144
[805]	validation_0-rmse:8.77925	validation_1-rmse:8.77925
[806]	validation_0-rmse:8.77294	validation_1-rmse:8.77294
[807]	validation_0-rmse:8.76857	validation_1-rmse:8.76857
[808]	validation_0-rmse:8.76099	validation_1-rmse:8.76099
[809]	validation_0-rmse:8.75544	validation_1-rmse:8.75544
[810]	validation_0-rmse:8.75076	validation_1-rmse:8.75076
[811]	validation_0-rmse:8.74603	validation_1-rmse:8.74603
[812]	validation_0-rmse:8.73687	validation_1-rmse:8.73687
[813]	validation_0-rmse:8.73036	validation_1-rmse:8.73036
[814]	validation_0-rmse:8.72341	validation_1-rmse:8.72341
[815]	validation_0-rmse:8.71998	validation_1-rmse:8.71998
[816]	validation_0-rmse:8.70858	validation_1-rmse:8.70858
[817]	validation_0-rmse:8.70287	validation_1-rmse:8.70287
[818]	validation_0-rmse:8.69435	validation_1-rmse:8.69435
[819]	validation_0-rmse:8.68573	validation_1-rmse:8.68573
[820]	validation_0-rmse:8.67827	validation_1-rmse:8.67827
[821]	validation_0-rmse:8.67006	validation_1-rmse:8.67006
[822]	validation_0-rmse:8.66565	validation_1-rmse:8.66565
[823]	validation_0-rmse:8.65619	validation_1-rmse:8.65619
[824]	validation_0-rmse:8.64376	validation_1-rmse:8.64376
[825]	validation_0-rmse:8.63934	validation_1-rmse:8.63934
[826]	validation_0-rmse:8.62988	validation_1-rmse:8.62988
[827]	validation_0-rmse:8.62698	validation_1-rmse:8.62698
[828]	validation_0-rmse:8.62101	validation_1-rmse:8.62101

[829]	validation_0-rmse:8.61068	validation_1-rmse:8.61068
[830]	validation_0-rmse:8.60666	validation_1-rmse:8.60666
[831]	validation_0-rmse:8.60016	validation_1-rmse:8.60016
[832]	validation_0-rmse:8.59436	validation_1-rmse:8.59436
[833]	validation_0-rmse:8.59173	validation_1-rmse:8.59173
[834]	validation_0-rmse:8.58483	validation_1-rmse:8.58483
[835]	validation_0-rmse:8.58119	validation_1-rmse:8.58119
[836]	validation_0-rmse:8.57952	validation_1-rmse:8.57952
[837]	validation_0-rmse:8.56921	validation_1-rmse:8.56921
[838]	validation_0-rmse:8.56094	validation_1-rmse:8.56094
[839]	validation_0-rmse:8.54230	validation_1-rmse:8.54230
[840]	validation_0-rmse:8.53800	validation_1-rmse:8.53800
[841]	validation_0-rmse:8.53149	validation_1-rmse:8.53149
[842]	validation_0-rmse:8.52918	validation_1-rmse:8.52918
[843]	validation_0-rmse:8.52028	validation_1-rmse:8.52028
[844]	validation_0-rmse:8.51557	validation_1-rmse:8.51557
[845]	validation_0-rmse:8.50659	validation_1-rmse:8.50659
[846]	validation_0-rmse:8.50183	validation_1-rmse:8.50183
[847]	validation_0-rmse:8.49244	validation_1-rmse:8.49244
[848]	validation_0-rmse:8.48360	validation_1-rmse:8.48360
[849]	validation_0-rmse:8.47901	validation_1-rmse:8.47901
[850]	validation_0-rmse:8.47758	validation_1-rmse:8.47758
[851]	validation_0-rmse:8.46719	validation_1-rmse:8.46719
[852]	validation_0-rmse:8.46306	validation_1-rmse:8.46306
[853]	validation_0-rmse:8.45176	validation_1-rmse:8.45176
[854]	validation_0-rmse:8.44494	validation_1-rmse:8.44494
[855]	validation_0-rmse:8.43983	validation_1-rmse:8.43983
[856]	validation_0-rmse:8.43155	validation_1-rmse:8.43155
[857]	validation_0-rmse:8.42585	validation_1-rmse:8.42585
[858]	validation_0-rmse:8.42489	validation_1-rmse:8.42489
[859]	validation_0-rmse:8.41922	validation_1-rmse:8.41922
[860]	validation_0-rmse:8.41730	validation_1-rmse:8.41730
[861]	validation_0-rmse:8.41038	validation_1-rmse:8.41038
[862]	validation_0-rmse:8.40559	validation_1-rmse:8.40559
[863]	validation_0-rmse:8.39079	validation_1-rmse:8.39079
[864]	validation_0-rmse:8.38566	validation_1-rmse:8.38566
[865]	validation_0-rmse:8.37519	validation_1-rmse:8.37519
[866]	validation_0-rmse:8.36876	validation_1-rmse:8.36876
[867]	validation_0-rmse:8.36484	validation_1-rmse:8.36484
[868]	validation_0-rmse:8.36048	validation_1-rmse:8.36048
[869]	validation_0-rmse:8.35306	validation_1-rmse:8.35306
[870]	validation_0-rmse:8.34793	validation_1-rmse:8.34793
[871]	validation_0-rmse:8.34143	validation_1-rmse:8.34143
[872]	validation_0-rmse:8.32904	validation_1-rmse:8.32904
[873]	validation_0-rmse:8.31638	validation_1-rmse:8.31638
[874]	validation_0-rmse:8.30672	validation_1-rmse:8.30672
[875]	validation_0-rmse:8.30551	validation_1-rmse:8.30551
[876]	validation_0-rmse:8.30311	validation_1-rmse:8.30311
[877]	validation_0-rmse:8.29851	validation_1-rmse:8.29851
[878]	validation_0-rmse:8.29420	validation_1-rmse:8.29420
[879]	validation_0-rmse:8.28654	validation_1-rmse:8.28654
[880]	validation_0-rmse:8.27814	validation_1-rmse:8.27814
[881]	validation_0-rmse:8.26907	validation_1-rmse:8.26907
[882]	validation_0-rmse:8.26404	validation_1-rmse:8.26404
[883]	validation_0-rmse:8.25686	validation_1-rmse:8.25686
[884]	validation_0-rmse:8.25050	validation_1-rmse:8.25050
[885]	validation_0-rmse:8.24590	validation_1-rmse:8.24590
[886]	validation_0-rmse:8.23663	validation_1-rmse:8.23663
[887]	validation_0-rmse:8.22515	validation_1-rmse:8.22515
[888]	validation_0-rmse:8.21916	validation_1-rmse:8.21916
[889]	validation_0-rmse:8.21032	validation_1-rmse:8.21032
[890]	validation_0-rmse:8.20631	validation_1-rmse:8.20631
[891]	validation_0-rmse:8.20235	validation_1-rmse:8.20235
[892]	validation_0-rmse:8.19665	validation_1-rmse:8.19665
[893]	validation_0-rmse:8.18656	validation_1-rmse:8.18656
[894]	validation_0-rmse:8.18071	validation_1-rmse:8.18071
[895]	validation_0-rmse:8.17217	validation_1-rmse:8.17217
[896]	validation_0-rmse:8.16290	validation_1-rmse:8.16290
[897]	validation_0-rmse:8.15842	validation_1-rmse:8.15842
[898]	validation_0-rmse:8.15137	validation_1-rmse:8.15137
[899]	validation_0-rmse:8.14254	validation_1-rmse:8.14254
[900]	validation_0-rmse:8.13873	validation_1-rmse:8.13873
[901]	validation_0-rmse:8.13096	validation_1-rmse:8.13096
[902]	validation_0-rmse:8.12017	validation_1-rmse:8.12017
[903]	validation_0-rmse:8.11657	validation_1-rmse:8.11657
[904]	validation_0-rmse:8.10116	validation_1-rmse:8.10116
[905]	validation_0-rmse:8.09831	validation_1-rmse:8.09831
[906]	validation_0-rmse:8.09493	validation_1-rmse:8.09493
[907]	validation_0-rmse:8.08475	validation_1-rmse:8.08475
[908]	validation_0-rmse:8.07644	validation_1-rmse:8.07644
[909]	validation_0-rmse:8.06870	validation_1-rmse:8.06870
[910]	validation_0-rmse:8.06615	validation_1-rmse:8.06615
[911]	validation_0-rmse:8.06124	validation_1-rmse:8.06124
[912]	validation_0-rmse:8.05610	validation_1-rmse:8.05610
[913]	validation_0-rmse:8.04555	validation_1-rmse:8.04555
[914]	validation_0-rmse:8.04528	validation_1-rmse:8.04528
[915]	validation_0-rmse:8.04109	validation_1-rmse:8.04109
[916]	validation_0-rmse:8.03381	validation_1-rmse:8.03381
[917]	validation_0-rmse:8.03007	validation_1-rmse:8.03007
[918]	validation_0-rmse:8.02591	validation_1-rmse:8.02591
[919]	validation_0-rmse:8.02538	validation_1-rmse:8.02538
[920]	validation_0-rmse:8.01987	validation_1-rmse:8.01987
[921]	validation_0-rmse:8.01583	validation_1-rmse:8.01583
[922]	validation_0-rmse:8.01144	validation_1-rmse:8.01144
[923]	validation_0-rmse:8.00559	validation_1-rmse:8.00559
[924]	validation_0-rmse:7.99767	validation_1-rmse:7.99767
[925]	validation_0-rmse:7.99334	validation_1-rmse:7.99334
[926]	validation_0-rmse:7.98393	validation_1-rmse:7.98393
[927]	validation_0-rmse:7.98075	validation_1-rmse:7.98075
[928]	validation_0-rmse:7.96555	validation_1-rmse:7.96555
[929]	validation_0-rmse:7.95830	validation_1-rmse:7.95830
[930]	validation_0-rmse:7.95552	validation_1-rmse:7.95552
[931]	validation_0-rmse:7.94234	validation_1-rmse:7.94234
[932]	validation_0-rmse:7.93354	validation_1-rmse:7.93354
[933]	validation_0-rmse:7.92685	validation_1-rmse:7.92685
[934]	validation_0-rmse:7.91634	validation_1-rmse:7.91634
[935]	validation_0-rmse:7.91276	validation_1-rmse:7.91276
[936]	validation_0-rmse:7.90046	validation_1-rmse:7.90046
[937]	validation_0-rmse:7.89921	validation_1-rmse:7.89921
[938]	validation_0-rmse:7.89614	validation_1-rmse:7.89614
[939]	validation_0-rmse:7.89330	validation_1-rmse:7.89330
[940]	validation_0-rmse:7.88299	validation_1-rmse:7.88299
[941]	validation_0-rmse:7.87488	validation_1-rmse:7.87488
[942]	validation_0-rmse:7.87008	validation_1-rmse:7.87008
[943]	validation_0-rmse:7.86529	validation_1-rmse:7.86529
[944]	validation_0-rmse:7.85667	validation_1-rmse:7.85667
[945]	validation_0-rmse:7.85565	validation_1-rmse:7.85565
[946]	validation_0-rmse:7.85013	validation_1-rmse:7.85013
[947]	validation_0-rmse:7.84120	validation_1-rmse:7.84120
[948]	validation_0-rmse:7.83448	validation_1-rmse:7.83448
[949]	validation_0-rmse:7.82827	validation_1-rmse:7.82827
[950]	validation_0-rmse:7.82841	validation_1-rmse:7.82841
[951]	validation_0-rmse:7.82576	validation_1-rmse:7.82576
[952]	validation_0-rmse:7.82400	validation_1-rmse:7.82400
[953]	validation_0-rmse:7.81790	validation_1-rmse:7.81790
[954]	validation_0-rmse:7.81298	validation_1-rmse:7.81298
[955]	validation_0-rmse:7.80242	validation_1-rmse:7.80242
[956]	validation_0-rmse:7.79566	validation_1-rmse:7.79566
[957]	validation_0-rmse:7.79070	validation_1-rmse:7.79070
[958]	validation_0-rmse:7.78538	validation_1-rmse:7.78538
[959]	validation_0-rmse:7.77945	validation_1-rmse:7.77945
[960]	validation_0-rmse:7.77578	validation_1-rmse:7.77578
[961]	validation_0-rmse:7.77009	validation_1-rmse:7.77009
[962]	validation_0-rmse:7.76408	validation_1-rmse:7.76408
[963]	validation_0-rmse:7.75667	validation_1-rmse:7.75667
[964]	validation_0-rmse:7.74824	validation_1-rmse:7.74824
[965]	validation_0-rmse:7.74401	validation_1-rmse:7.74401
[966]	validation_0-rmse:7.73569	validation_1-rmse:7.73569
[967]	validation_0-rmse:7.73094	validation_1-rmse:7.73094
[968]	validation_0-rmse:7.70330	validation_1-rmse:7.70330
[969]	validation_0-rmse:7.69825	validation_1-rmse:7.69825
[970]	validation_0-rmse:7.68870	validation_1-rmse:7.68870

[971]	validation_0-rmse:7.68245	validation_1-rmse:7.68245
[972]	validation_0-rmse:7.67934	validation_1-rmse:7.67934
[973]	validation_0-rmse:7.67140	validation_1-rmse:7.67140
[974]	validation_0-rmse:7.66175	validation_1-rmse:7.66175
[975]	validation_0-rmse:7.65279	validation_1-rmse:7.65279
[976]	validation_0-rmse:7.63988	validation_1-rmse:7.63988
[977]	validation_0-rmse:7.62981	validation_1-rmse:7.62981
[978]	validation_0-rmse:7.62352	validation_1-rmse:7.62352
[979]	validation_0-rmse:7.62066	validation_1-rmse:7.62066
[980]	validation_0-rmse:7.61601	validation_1-rmse:7.61601
[981]	validation_0-rmse:7.61173	validation_1-rmse:7.61173
[982]	validation_0-rmse:7.60670	validation_1-rmse:7.60670
[983]	validation_0-rmse:7.60094	validation_1-rmse:7.60094
[984]	validation_0-rmse:7.59817	validation_1-rmse:7.59817
[985]	validation_0-rmse:7.59249	validation_1-rmse:7.59249
[986]	validation_0-rmse:7.58799	validation_1-rmse:7.58799
[987]	validation_0-rmse:7.58292	validation_1-rmse:7.58292
[988]	validation_0-rmse:7.57655	validation_1-rmse:7.57655
[989]	validation_0-rmse:7.56796	validation_1-rmse:7.56796
[990]	validation_0-rmse:7.56423	validation_1-rmse:7.56423
[991]	validation_0-rmse:7.55936	validation_1-rmse:7.55936
[992]	validation_0-rmse:7.55352	validation_1-rmse:7.55352
[993]	validation_0-rmse:7.54502	validation_1-rmse:7.54502
[994]	validation_0-rmse:7.53655	validation_1-rmse:7.53655
[995]	validation_0-rmse:7.53322	validation_1-rmse:7.53322
[996]	validation_0-rmse:7.52923	validation_1-rmse:7.52923
[997]	validation_0-rmse:7.52848	validation_1-rmse:7.52848
[998]	validation_0-rmse:7.52551	validation_1-rmse:7.52551
[999]	validation_0-rmse:7.51771	validation_1-rmse:7.51771

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.9, gamma=0.2, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=1000, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0.5, reg_lambda=1, scale_pos_weight=1, subsample=0.8,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [18]:
final=pd.DataFrame(test["id"])

final["profit"]=xgb_clf.predict(x_test)

In [19]:
r2_score(pd.read_csv("submission1.csv")["profit"],final["profit"])

0.9630389405943611

In [96]:
final.to_csv('submission9.csv', index=False)

# Attempt 10

# ANN

In [133]:
df=pd.read_csv("train.csv",parse_dates=[12,15])

df["Delay"]=df["placement date"]-df["delivery date"]
df["Delay"]=df["Delay"]/ np.timedelta64(1,"D")

df["delivery type"]=df["delivery type"].fillna("Same Day")

del df["RID"]
del df["address code"]
df["price/item"]=df["price"]/df["no of items"]
del df["delivery date"]
del df["placement date"]
del df["departure city"]
del df["departure state"]

train_df=pd.get_dummies(df,columns=["location","class","segment","sub-class","delivery type"],drop_first=True)

y=df["profit"]
x=train_df.drop("profit",axis=1)


del x["id"]





test=pd.read_csv("test.csv",parse_dates=[11,14])


x_test=test.copy()

del x_test["id"]

x_test["Delay"]=x_test["placement date"]-x_test["delivery date"]
x_test["Delay"]=x_test["Delay"]/ np.timedelta64(1,"D")

del x_test["delivery date"]
del x_test["placement date"]
del x_test["departure city"]
del x_test["departure state"]
x_test["price/item"]=x_test["price"]/x_test["no of items"]
x_test=pd.get_dummies(x_test,columns=["location","class","segment","sub-class","delivery type"],drop_first=True)
del x_test["address code"]
del x_test["RID"]

In [106]:
x_train

,discount,price,no of items,Delay,price/item,location_East,location_South,location_West,class_kariox,class_qexty,...,sub-class_phone,sub-class_shorts,sub-class_sweets,sub-class_tablet,sub-class_television,sub-class_tshirts,sub-class_watch,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
161,0.2,30.768,2,0.0,15.384,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,1
3868,0.0,195.640,4,0.0,48.910,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
2031,0.0,9.840,3,0.0,3.280,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
5976,0.2,113.568,2,0.0,56.784,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1113,0.2,13.160,5,0.0,2.632,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1619,0.2,7.856,2,0.0,3.928,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
6039,0.0,1117.920,4,0.0,279.480,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
5391,0.2,185.376,2,0.0,92.688,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1129,0.0,4.020,2,0.0,2.010,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
6626,0.2,85.224,3,0.0,28.408,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [134]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import normalize


x_train,test_x,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [135]:
import tensorflow as tf
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.losses import mean_squared_error
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from tensorflow import keras

In [136]:
from tensorflow.keras.models import Sequential


from tensorflow.keras.layers import InputLayer, Dense ,Dropout

In [137]:
from tensorflow.keras.callbacks import ModelCheckpoint
import tensorflow.keras.callbacks

In [138]:
model = Sequential()

model.add(Dense(128, input_dim=31, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.25))
model.add(Dense(32, activation='relu'))
# model.add(Dense(31, activation='relu'))
model.add(Dense(31, activation='linear'))

In [139]:
model.summary()

Model: "sequential_13"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_52 (Dense)             (None, 128)               4096
_________________________________________________________________
dense_53 (Dense)             (None, 64)                8256
_________________________________________________________________
dropout_6 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_54 (Dense)             (None, 32)                2080
_________________________________________________________________
dense_55 (Dense)             (None, 31)                1023
=================================================================
Total params: 15,455
Trainable params: 15,455
Non-trainable params: 0
_________________________________________________________________

In [140]:
model.compile(optimizer="Adam",loss="mse",metrics=["mse"])

In [141]:
model_history = model.fit(x_train, y_train, validation_data=(test_x, y_test), epochs=100,callbacks=[keras.callbacks.EarlyStopping(monitor="val_mse",patience=10)])

Epoch 1/100
168/168 [==============================] - 3s 14ms/step - loss: 79875.3373 - mse: 79875.3373 - val_loss: 32816.6914 - val_mse: 32816.6914
Epoch 2/100
168/168 [==============================] - 2s 13ms/step - loss: 55936.1312 - mse: 55936.1312 - val_loss: 28391.1074 - val_mse: 28391.1074
Epoch 3/100
168/168 [==============================] - 3s 18ms/step - loss: 52222.6239 - mse: 52222.6239 - val_loss: 23890.0547 - val_mse: 23890.0547
Epoch 4/100
168/168 [==============================] - 2s 12ms/step - loss: 49895.8689 - mse: 49895.8689 - val_loss: 25088.8203 - val_mse: 25088.8203
Epoch 5/100
168/168 [==============================] - 3s 16ms/step - loss: 44430.9185 - mse: 44430.9185 - val_loss: 28448.5488 - val_mse: 28448.5488
Epoch 6/100
168/168 [==============================] - 2s 13ms/step - loss: 39939.4955 - mse: 39939.4955 - val_loss: 22283.5215 - val_mse: 22283.5215
Epoch 7/100
168/168 [==============================] - 1s 9ms/step - loss: 67789.9017 - mse: 67789.9017 - val_loss: 22751.2051 - val_mse: 22751.2051
Epoch 8/100
168/168 [==============================] - 2s 9ms/step - loss: 35791.7845 - mse: 35791.7845 - val_loss: 30108.6055 - val_mse: 30108.6055
Epoch 9/100
168/168 [==============================] - 2s 9ms/step - loss: 56933.3293 - mse: 56933.3293 - val_loss: 26225.0625 - val_mse: 26225.0625
Epoch 10/100
168/168 [==============================] - 2s 10ms/step - loss: 58757.3677 - mse: 58757.3677 - val_loss: 24586.9844 - val_mse: 24586.9844
Epoch 11/100
168/168 [==============================] - 1s 9ms/step - loss: 59209.8636 - mse: 59209.8636 - val_loss: 25937.1367 - val_mse: 25937.1367
Epoch 12/100
168/168 [==============================] - 1s 9ms/step - loss: 48338.3624 - mse: 48338.3624 - val_loss: 21728.5684 - val_mse: 21728.5684
Epoch 13/100
168/168 [==============================] - 2s 9ms/step - loss: 37892.2540 - mse: 37892.2540 - val_loss: 30559.3516 - val_mse: 30559.3516
Epoch 14/100
168/168 [==============================] - 2s 10ms/step - loss: 36502.1654 - mse: 36502.1654 - val_loss: 25321.1992 - val_mse: 25321.1992
Epoch 15/100
168/168 [==============================] - 2s 10ms/step - loss: 54387.5126 - mse: 54387.5126 - val_loss: 30080.3457 - val_mse: 30080.3457
Epoch 16/100
168/168 [==============================] - 2s 10ms/step - loss: 61459.9669 - mse: 61459.9669 - val_loss: 24561.0703 - val_mse: 24561.0703
Epoch 17/100
168/168 [==============================] - 2s 12ms/step - loss: 36615.6084 - mse: 36615.6084 - val_loss: 21169.8711 - val_mse: 21169.8711
Epoch 18/100
168/168 [==============================] - 2s 12ms/step - loss: 30979.7565 - mse: 30979.7565 - val_loss: 22975.4160 - val_mse: 22975.4160
Epoch 19/100
168/168 [==============================] - 2s 11ms/step - loss: 63235.0841 - mse: 63235.0841 - val_loss: 24006.3125 - val_mse: 24006.3125
Epoch 20/100
168/168 [==============================] - 2s 9ms/step - loss: 84086.9848 - mse: 84086.9848 - val_loss: 23119.3887 - val_mse: 23119.3887
Epoch 21/100
168/168 [==============================] - 2s 10ms/step - loss: 33117.2762 - mse: 33117.2762 - val_loss: 20787.0723 - val_mse: 20787.0723
Epoch 22/100
168/168 [==============================] - 2s 15ms/step - loss: 67211.6638 - mse: 67211.6638 - val_loss: 20546.6621 - val_mse: 20546.6621
Epoch 23/100
168/168 [==============================] - 2s 11ms/step - loss: 57078.2503 - mse: 57078.2503 - val_loss: 26572.0156 - val_mse: 26572.0156
Epoch 24/100
168/168 [==============================] - 2s 9ms/step - loss: 44522.8141 - mse: 44522.8141 - val_loss: 22823.1426 - val_mse: 22823.1426
Epoch 25/100
168/168 [==============================] - 2s 9ms/step - loss: 51993.8050 - mse: 51993.8050 - val_loss: 24521.2754 - val_mse: 24521.2754
Epoch 26/100
168/168 [==============================] - 2s 11ms/step - loss: 73663.7261 - mse: 73663.7261 - val_loss: 23451.0273 - val_mse: 23451.0273
Epoch 27/100
168/168 [==============================] - 2s 11ms/step - loss: 75167.2473 - mse: 75167.2473 - val_loss: 24693.4570 - val_mse: 24693.4570
Epoch 28/100
168/168 [==============================] - 2s 10ms/step - loss: 51725.7015 - mse: 51725.7015 - val_loss: 25461.9727 - val_mse: 25461.9727
Epoch 29/100
168/168 [==============================] - 2s 9ms/step - loss: 28846.3118 - mse: 28846.3118 - val_loss: 23769.8203 - val_mse: 23769.8203
Epoch 30/100
168/168 [==============================] - 2s 10ms/step - loss: 45743.0967 - mse: 45743.0967 - val_loss: 20789.5469 - val_mse: 20789.5469
Epoch 31/100
168/168 [==============================] - 2s 13ms/step - loss: 60251.8495 - mse: 60251.8495 - val_loss: 27230.8242 - val_mse: 27230.8242
Epoch 32/100
168/168 [==============================] - 3s 15ms/step - loss: 52579.2808 - mse: 52579.2808 - val_loss: 23595.3906 - val_mse: 23595.3906

In [150]:
new=pd.DataFrame(model.predict(x_train))

In [156]:
new.columns=['discount', 'price', 'no of items', 'Delay', 'price/item',
       'location_East', 'location_South', 'location_West', 'class_kariox',
       'class_qexty', 'segment_Corporate', 'segment_Home Office',
       'sub-class_charger', 'sub-class_chocolates', 'sub-class_colddrinks',
       'sub-class_fastfood', 'sub-class_headset', 'sub-class_hoodies',
       'sub-class_laptop', 'sub-class_lighting', 'sub-class_pants',
       'sub-class_phone', 'sub-class_shorts', 'sub-class_sweets',
       'sub-class_tablet', 'sub-class_television', 'sub-class_tshirts',
       'sub-class_watch', 'delivery type_Same Day',
       'delivery type_Second Class', 'delivery type_Standard Class']

In [157]:
new

,discount,price,no of items,Delay,price/item,location_East,location_South,location_West,class_kariox,class_qexty,...,sub-class_phone,sub-class_shorts,sub-class_sweets,sub-class_tablet,sub-class_television,sub-class_tshirts,sub-class_watch,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,5.163005,6.904469,5.299429,5.280216,6.416720,5.547986,5.789615,4.817672,5.571560,4.800690,...,5.658717,5.173188,6.627787,6.416132,5.636840,4.803174,4.220135,5.858639,5.122919,6.832135
1,2.699041,4.397734,3.758140,3.453829,3.568099,3.001805,3.146720,2.898358,3.628082,2.639917,...,4.261396,3.129393,3.644056,4.833654,3.335262,2.321802,2.095836,3.460113,3.661078,3.766956
2,31.332155,31.284224,31.596544,38.281345,24.672304,33.656368,35.489723,32.225922,33.578526,38.071999,...,29.645435,36.743118,35.423149,34.764084,33.320614,31.499182,32.378689,30.937473,31.768536,24.189907
3,6.745952,8.749110,6.776236,6.761006,9.109772,6.510439,6.017474,5.558880,6.590409,4.398042,...,7.316852,5.621666,7.594383,8.339849,6.013392,5.380276,4.224947,6.591646,6.754486,10.251044
4,5.709731,7.385448,7.434588,7.762030,6.865150,4.319072,7.100079,5.324285,7.031250,3.543273,...,7.712413,5.260252,3.891197,7.555735,7.150336,6.704717,4.211470,4.579053,8.731851,6.364162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5355,1.856197,3.149218,3.597233,3.592342,0.731108,0.715556,3.334630,1.633422,3.250550,1.359279,...,3.410329,3.759134,1.447460,4.447559,3.168027,1.336383,-0.025075,1.379285,3.060911,-0.012116
5356,13.896696,16.775646,19.004194,16.522095,22.267839,18.243528,11.832087,12.927695,12.447957,11.468032,...,20.494549,8.353544,11.066809,16.789455,15.966460,14.898495,13.723588,12.377363,19.158794,20.803482
5357,9.787208,11.355170,13.167632,11.973401,15.166687,13.187760,8.188944,9.279942,9.122731,8.015120,...,13.925838,6.574706,7.784069,10.794954,10.624082,10.797524,9.540006,8.847638,12.721167,14.312160
5358,44.632793,44.395847,44.465313,53.878002,36.143867,47.986103,50.621197,45.997017,47.668430,53.495071,...,41.698875,51.003918,49.732491,47.689693,47.083614,45.555004,46.573227,43.953270,44.915943,35.605999
5359,5.924151,8.268552,8.275926,8.159298,8.371993,5.895837,7.153637,5.380346,6.811411,4.415569,...,8.879527,4.460972,4.724258,8.835164,8.184471,6.891603,5.044119,4.952981,9.517156,7.564549

In [155]:
x_train.columns

Index(['discount', 'price', 'no of items', 'Delay', 'price/item',
       'location_East', 'location_South', 'location_West', 'class_kariox',
       'class_qexty', 'segment_Corporate', 'segment_Home Office',
       'sub-class_charger', 'sub-class_chocolates', 'sub-class_colddrinks',
       'sub-class_fastfood', 'sub-class_headset', 'sub-class_hoodies',
       'sub-class_laptop', 'sub-class_lighting', 'sub-class_pants',
       'sub-class_phone', 'sub-class_shorts', 'sub-class_sweets',
       'sub-class_tablet', 'sub-class_television', 'sub-class_tshirts',
       'sub-class_watch', 'delivery type_Same Day',
       'delivery type_Second Class', 'delivery type_Standard Class'],
      dtype='object')

In [158]:
import xgboost as xgb
xgb_clf = xgb.XGBRegressor(n_estimators=1000,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.5,colsample_bytree=0.9)
xgb_clf.fit(new,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.9, gamma=0.2, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=1000, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0.5, reg_lambda=1, scale_pos_weight=1, subsample=0.8,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [159]:
r2_score(y_train,xgb_clf.predict(x_train))

-2.9026803728843813

In [119]:
final=pd.DataFrame(test["id"])

final["profit"]=model.predict(x_test)

In [120]:
r2_score(pd.read_csv("submission1.csv")["profit"],final["profit"])

0.14309760336457855

In [121]:
final

        id     profit
0     6701   5.470200
1     6702  14.512079
2     6703   3.291481
3     6704   3.997918
4     6705   7.127499
...    ...        ...
3289  9990   3.479148
3290  9991   6.357423
3291  9992   8.908507
3292  9993  -4.264932
3293  9994   4.430243

[3294 rows x 2 columns]

# Attempt 11

In [56]:
df=pd.read_csv("train.csv",parse_dates=[12,15])

df["Delay"]=df["placement date"]-df["delivery date"]
df["Delay"]=df["Delay"]/ np.timedelta64(1,"D")

df["delivery type"]=df["delivery type"].fillna("Same Day")

del df["RID"]
del df["address code"]
df["price/item"]=df["price"]/df["no of items"]
del df["delivery date"]

del df["departure city"]
del df["departure state"]

cls={'fynota': 0.4944459733177522,
 'kariox': 0.42633614865384356,
 'qexty': 0.07921792671863703}
sub={'fastfood': 0.16383500520216696,
 'colddrinks': 0.16253265115754612,
 'chocolates': 0.13524541261128278,
 'headset': 0.11589063251174975,
 'phone': 0.11288672550496903,
 'tshirts': 0.09711869858695824,
 'laptop': 0.07165886802896806,
 'battery': 0.05346435567446218,
 'shorts': 0.04592247899913388,
 'sweets': 0.03283290434675645,
 'watch': 0.0287734720236173,
 'television': 0.02204642639318131,
 'tablet': 0.0194845226563341,
 'lighting': 0.0033293699483883522,
 'charger': -0.0011982240878269281,
 'pants': -0.014806596757743028,
 'hoodies': -0.049016654109711934}

df["class"]=df["class"].map(cls)
df["sub-class"]=df["sub-class"].map(sub)
df["month"]=df["placement date"].dt.month
df["year"]=df["placement date"].dt.year
del df["placement date"]

train_df=pd.get_dummies(df,columns=["location","segment","delivery type"],drop_first=True)

y=df["profit"]
x=train_df.drop("profit",axis=1)


del x["id"]





test=pd.read_csv("test.csv",parse_dates=[11,14])


x_test=test.copy()

del x_test["id"]

x_test["Delay"]=x_test["placement date"]-x_test["delivery date"]
x_test["Delay"]=x_test["Delay"]/ np.timedelta64(1,"D")

x_test["class"]=x_test["class"].map(cls)
x_test["sub-class"]=x_test["sub-class"].map(sub)
x_test["price/item"]=x_test["price"]/x_test["no of items"]
x_test["month"]=x_test["placement date"].dt.month
x_test["year"]=x_test["placement date"].dt.year

del x_test["delivery date"]
del x_test["placement date"]
del x_test["departure city"]
del x_test["departure state"]

x_test=pd.get_dummies(x_test,columns=["location","segment","delivery type"],drop_first=True)
del x_test["address code"]
del x_test["RID"]

In [57]:
x_test

,discount,price,no of items,class,sub-class,Delay,price/item,month,year,location_East,location_South,location_West,segment_Corporate,segment_Home Office,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.0,24.200,5,0.426336,0.022046,0.0,4.840,1,2021,0,0,1,0,0,0,0,1
1,0.2,359.976,3,0.494446,0.162533,0.0,119.992,1,2021,0,0,1,0,0,0,0,1
2,0.0,3.520,2,0.426336,0.022046,0.0,1.760,1,2021,1,0,0,0,0,0,0,1
3,0.2,11.520,5,0.426336,0.019485,0.0,2.304,1,2021,0,0,0,0,0,0,0,0
4,0.0,242.940,3,0.426336,0.071659,0.0,80.980,1,2021,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3289,0.0,31.920,4,0.426336,0.071659,0.0,7.980,12,2021,1,0,0,0,0,0,1,0
3290,0.0,19.440,3,0.426336,0.112887,0.0,6.480,12,2021,1,0,0,0,0,0,1,0
3291,0.0,272.940,3,0.426336,0.071659,0.0,90.980,12,2021,1,0,0,0,0,0,1,0
3292,0.2,113.568,2,0.079218,0.097119,0.0,56.784,12,2021,0,0,1,0,0,0,0,1
3293,0.2,3.024,3,0.426336,0.003329,-31.0,1.008,12,2021,0,0,1,0,0,0,0,1

In [58]:
x

,discount,price,no of items,class,sub-class,Delay,price/item,month,year,location_East,location_South,location_West,segment_Corporate,segment_Home Office,delivery type_Same Day,delivery type_Second Class,delivery type_Standard Class
0,0.2,16.448,2,0.426336,0.112887,0.0,8.224,1,2018,0,0,0,0,0,0,0,1
1,0.0,29.700,5,0.426336,0.115891,0.0,5.940,1,2018,0,0,0,0,0,0,0,1
2,0.0,14.730,3,0.079218,0.045922,0.0,4.910,1,2018,0,0,0,0,0,0,0,1
3,0.0,43.920,3,0.426336,0.022046,0.0,14.640,1,2018,0,0,0,0,0,0,0,1
4,0.0,66.580,2,0.426336,0.071659,0.0,33.290,1,2018,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6695,0.0,542.940,3,0.426336,0.053464,0.0,180.980,1,2021,1,0,0,0,0,0,0,1
6696,0.2,276.784,2,0.426336,0.115891,0.0,138.392,1,2021,0,0,1,1,0,0,0,1
6697,0.0,2.040,1,0.426336,0.028773,0.0,2.040,1,2021,1,0,0,0,0,0,0,1
6698,0.1,207.846,3,0.079218,0.097119,0.0,69.282,1,2021,1,0,0,1,0,0,1,0
6699,0.2,160.776,3,0.494446,0.162533,0.0,53.592,1,2021,0,0,1,0,0,0,0,1

In [59]:
import xgboost as xgb
#xgb_clf = xgb.XGBRegressor(n_estimators=1000,learning_rate=0.2,colsample_bytree= 0.9,gamma= 0.05,max_depth= 5,reg_alpha=0.05,subsample=0.8)
xgb_clf = xgb.XGBRegressor(n_estimators=500,learning_rate=0.2,max_depth=3,gamma=0.2,subsample=0.8,reg_alpha=0.5,colsample_bytree=0.8)
xgb_clf.fit(x, y)
r2_score(y,xgb_clf.predict(x) )

0.9950797023952134

In [60]:
final=pd.DataFrame(test["id"])

final["profit"]=xgb_clf.predict(x_test)

r2_score(pd.read_csv("submission1.csv")["profit"],final["profit"])

0.9355673807308041

In [65]:
final.to_csv('submission12.csv', index=False)

In [66]:
final

        id     profit
0     6701   8.880583
1     6702  31.409077
2     6703   2.478152
3     6704   8.729888
4     6705  13.242699
...    ...        ...
3289  9990  -3.450006
3290  9991   9.977122
3291  9992   5.692600
3292  9993  -1.367358
3293  9994  -0.945455

[3294 rows x 2 columns]